mdw-panel {
  display: none;
  position: absolute;
  box-sizing: border-box;
  max-width: calc(100vw - 32px);
  max-height: calc(100vh - 32px);
  margin: 0;
  padding: 0;
  transform: scale(1);
  transform-origin: top left;
  opacity: 0;
  overflow: auto;
  will-change: transform, opacity;
  z-index: 8;
  border-radius: 4px;
  transition: opacity .03s linear,
              transform .12s cubic-bezier(0,0,.2,1);
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
              0 8px 10px 1px rgba(0,0,0,.14),
              0 3px 14px 2px rgba(0,0,0,.12);
  background-color: var(--mdw-theme-surface);
  color: var(--mdw-theme-on-surface);
}

mdw-panel[open] {
  display: inline-block;
  transform: scale(1);
  opacity: 1;
}

.mdw-panel--fixed {
  position: fixed;
}


/* --- positioning --- */
.mdw-panel--container {
  position: relative;
}

.mdw-panel--anchor {
  position: relative;
  overflow: visible;
}

/* contained */
.mdw-panel--container mdw-panel[position="top left"] {
  top: 0;
  left: 0;
}

.mdw-panel--container mdw-panel[position="top right"] {
  top: 0;
  right: 0;
}

.mdw-panel--container mdw-panel[position="bottom left"] {
  bottom: 0;
  left: 0;
}

.mdw-panel--container mdw-panel[position="bottom right"] {
  bottom: 0;
  right: 0;
}

.mdw-panel--container mdw-panel[position="top center"] {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mdw-panel--container mdw-panel[position="bottom center"] {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mdw-panel--container mdw-panel[position="center left"] {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.mdw-panel--container mdw-panel[position="center right"] {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.mdw-panel--container mdw-panel[position="center center"] {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* anchored */
.mdw-panel--anchor mdw-panel[position="top left"] {
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
}

.mdw-panel--anchor mdw-panel[position="top right"] {
  top: 0;
  right: 0;
  transform: translate(100%, -100%);
}

.mdw-panel--anchor mdw-panel[position="bottom left"] {
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%);
}

.mdw-panel--anchor mdw-panel[position="bottom right"] {
  bottom: 0;
  right: 0;
  transform: translate(100%, 100%);
}

.mdw-panel--anchor mdw-panel[position="top center"] {
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}

.mdw-panel--anchor mdw-panel[position="bottom center"] {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
}

.mdw-panel--anchor mdw-panel[position="center left"] {
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
}

.mdw-panel--anchor mdw-panel[position="center right"] {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

.mdw-panel--anchor mdw-panel[position="top inner-left"] {
  top: 0;
  left: 0;
  transform: translate(0, -100%);
}

.mdw-panel--anchor mdw-panel[position="top inner-right"] {
  top: 0;
  right: 0;
  transform: translate(0, -100%);
}

.mdw-panel--anchor mdw-panel[position="bottom inner-left"] {
  bottom: 0;
  left: 0;
  transform: translate(0, 100%);
}

.mdw-panel--anchor mdw-panel[position="bottom inner-right"] {
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
}

.mdw-panel--anchor mdw-panel[position="inner-top left"] {
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
}

.mdw-panel--anchor mdw-panel[position="inner-top right"] {
  top: 0;
  right: 0;
  transform: translate(100%, 0);
}

.mdw-panel--anchor mdw-panel[position="inner-bottom left"] {
  bottom: 0;
  left: 0;
  transform: translate(-100%, 0);
}

.mdw-panel--anchor mdw-panel[position="inner-bottom right"] {
  bottom: 0;
  right: 0;
  transform: translate(100%, 0);
}


/* .mdw-panel__anchor {
  position: relative;
  overflow: visible;
} */

/* mdw-panel .options-list {
  font-family: Roboto,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  line-height: 1.5rem;
  margin: 0;
  padding: 8px 0;
  list-style-type: none;
  color: rgba(0,0,0,.87);
  color: var(--mdc-theme-text-primary-on-background,rgba(0,0,0,.87));
}

mdw-panel mdw-button {
  margin: 0;
  padding: 0;
  height: 48px;
}

mdw-panel option {
  display: list-item;
  text-align: -webkit-match-parent;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 48px;
  padding: 0 16px;
  overflow: hidden;
}

mdw-panel option:not(.disabled):before {
  -webkit-transition: opacity 15ms linear,background-color 15ms linear;
  -o-transition: opacity 15ms linear,background-color 15ms linear;
  transition: opacity 15ms linear,background-color 15ms linear;
  z-index: 1;
}

mdw-panel option:not(.disabled):hover:before {
  opacity: .04;
}

mdw-panel option:not(.disabled):before,
mdw-panel option:not(.disabled):after {
  background-color: #000;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
}


mdw-panel option.mdw-selected:not(.disabled):before,
mdw-panel option.mdw-selected:not(.disabled):after {
  background-color: var(--mdw-theme-primary);
  opacity: .08;
} */




/* mdw-panel option.mdw-selected:before,
mdw-panel option.mdw-selected:after {
  background-color: var(--mdw-theme-primary);
} */
