mdw-snackbar.mdw-panel {
  display: flex;
  flex-direction: row;
  width: 344px;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: var(--mdw-shape-extra-small);
  box-shadow: var(--mdw-elevation-1);
  background-color: var(--mdw-surface-inverse);

  font-size: var(--mdw-font-size-medium-body);
  font-weight: var(--mdw-font-weight-medium-body);
  line-height: 24px;
  letter-spacing: var(--mdw-font-letter-spacing-medium-body);
  color: var(--mdw-on-surface-inverse);

  padding: 0 16px;

  top: unset;
  left: calc(172px + 16px);
  bottom: -8px;
}

mdw-snackbar.mdw-panel.mdw-line-two {
  height: 68px;
}

mdw-snackbar mdw-button,
mdw-snackbar mdw-icon {
  color: var(--mdw-primary-container);
}

mdw-snackbar .mdw-icon-svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
