mdw-tabs-bar-scroller {
  display: block;
  overflow-y: hidden;
}

mdw-tabs-bar-scroller-area {
  display: flex;
  /* overflow-x: scroll; */
}

mdw-tabs-bar-scroller-content {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  transform: none;
  will-change: transform;
}

::slotted(mdw-button) {
  flex: 1 0 auto;
}
