mdw-search mdw-avatar + mdw-icon {
  margin-left: 4px;
}

mdw-search mdw-icon + mdw-icon {
  margin-left: 0;
}

mdw-search mdw-avatar {
  background-color: var(--mdw-secondary);
  color: var(--mdw-on-secondary);
  margin-right: 12px;
}
