:host {
  --mdw-search-fullscreen-top: 0;
  --mdw-search-fullscreen-left: 0;
  --mdw-search-fullscreen-width: 0;
  --mdw-search-fullscreen-height: 0;

  position: relative;
  display: inline-block;
  min-height: 56px;
  background-color: var(--mdw-surface);
  border-radius: 28px;
  box-shadow: var(--mdw-elevation-3);
}

:host(.mdw-open.mdw-has-search-value),
:host(.mdw-open.mdw-has-filters) {
  border-radius: 28px 28px 0 0;
}

:host .textfield {
  position: relative;
  display: inline-flex;
  width: 100%;
  vertical-align: top;
  position: relative;
  box-sizing: border-box;
  height: 56px;
  border-radius: 28px;

  background-color: var(--mdw-elevation-tint-3);
}

:host(.mdw-open.mdw-has-search-value) .textfield,
:host(.mdw-open.mdw-has-filters) .textfield {
  border-radius: 28px 28px 0 0;
}

:host .textfield > input {
  flex: 1;
  align-self: flex-end;
  width: 100%;
  height: 56px;
  line-height: 56px;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;

  text-decoration: inherit;
  text-transform: inherit;
  font-size: var(--mdw-font-size-large-body);
  font-weight: var(--mdw-font-weight-large-body);
  line-height: var(--mdw-font-line-height-large-body);
  letter-spacing: var(--mdw-font-letter-spacing-large-body);
  color: var(--mdw-on-surface);
  caret-color: var(--mdw-primary);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:host .textfield > input::placeholder {
  color: var(--mdw-on-surface-variant);
}



/* --- leading / trailing ---- */


:host .textfield > .mdw-svg-icon {
  width: 24px;
  height: 24px;
  align-self: center;
  margin: 0 16px;
  opacity: 0;
  pointer-events: none;
}
:host .textfield > .mdw-svg-icon > svg {
  fill: var(--mdw-on-surface);
}
:host .textfield > .mdw-svg-icon + .mdw-svg-icon {
  margin-left: 0;
}


:host(.mdw-has-leading) .textfield > .search {
  display: none;
}

:host(:not(.mdw-has-leading)) .textfield > .search {
  opacity: 1;
  margin-left: 16px;
}


:host(.mdw-has-trailing) .textfield > .clear {
  position: absolute;
}

:host(.mdw-open.mdw-fullscreen) .textfield > .clear,
:host(.mdw-open.mdw-has-search-value) .textfield > .clear {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
  right: 0;
}

:host(.mdw-open:not(.mdw-has-search-value)) .textfield > .mic {
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
}

/* offset to overlay spinner */
:host .textfield >  .mic {
  margin-right: -16px;
}


:host slot[name=leading],
:host slot[name=trailing] {
  display: flex;
  align-items: center;
}

:host slot[name=leading]::slotted(mdw-icon),
:host slot[name=trailing]::slotted(mdw-icon) {
  width: 24px;
  height: 24px;
  align-self: center;
  margin: 0 16px;
  pointer-events: none;
}

:host(.mdw-open.mdw-fullscreen) slot[name=trailing],
:host(.mdw-open.mdw-has-search-value) slot[name=trailing] {
  pointer-events: none;
  opacity: 0;
}

:host(.mdw-open.mdw-fullscreen) slot[name=leading] {
  pointer-events: none;
  opacity: 0;
}
:host .textfield > .fullscreen-back {
  position: absolute;
  left: 0;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
:host(.mdw-open.mdw-fullscreen) .textfield > .fullscreen-back {
  opacity: 1;
  pointer-events: all;
}



:host .spinner {
  display: flex;
  align-items: center;
  align-self: center;
  width: 28px;
  height: 28px;
  opacity: 0;
  pointer-events: none;
}

:host(.mdw-open.mdw-pending) .spinner {
  opacity: 1;
}


:host slot[name=filters] {
  display: block;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  background-color: var(--mdw-surface);
  z-index: 12;

  pointer-events: none;
  opacity: 0;
  transition: opacity 20ms;
}

:host(.mdw-open) slot[name=filters] {
  opacity: 1;
  pointer-events: all;
  transition: opacity 80ms;
}

:host slot[name=filters]::slotted(mdw-chip-group) {
  background-color: var(--mdw-elevation-tint-3);
  padding: 8px 16px;
}





/* --- fullscreen / mobile --- */

:host(.mdw-fullscreen) {
  --mdw-search-fullscreen-top: 0;
  --mdw-search-fullscreen-left: 0;
  --mdw-search-fullscreen-width: 0;
  --mdw-search-fullscreen-height: 0;

  animation: mdw-search-fullscreen-close 120ms;
  animation-timing-function: var(--mdw-transition-expand-out);
}

:host(.mdw-fullscreen.mdw-open) {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  overflow: auto;

  animation: mdw-search-fullscreen-open 200ms;
  animation-timing-function: var(--mdw-transition-expand-in);
}

:host(.mdw-fullscreen.mdw-open) .textfield {
  border-radius: 0;
}

:host(.mdw-no-animation) {
  animation-duration: 0ms !important;
}


@keyframes mdw-search-fullscreen-open {
  0% {
    top: var(--mdw-search-fullscreen-top);
    left: var(--mdw-search-fullscreen-left);
    width: var(--mdw-search-fullscreen-width);
    height: var(--mdw-search-fullscreen-height);
    border-radius: var(--mdw-shape-medium);
    overflow: hidden;
  }

  99% {
    overflow: hidden;
  }

  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
  }
}

@keyframes mdw-search-fullscreen-close {
  0% {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 0;
    overflow: hidden;
    z-index: 11;
  }

  1% {
    overflow: hidden;
  }

  100% {
    position: fixed;
    z-index: 11;
    overflow: hidden;
    top: var(--mdw-search-fullscreen-top);
    left: var(--mdw-search-fullscreen-left);
    width: var(--mdw-search-fullscreen-width);
    height: var(--mdw-search-fullscreen-height);
    border-radius: var(--mdw-shape-medium);
  }
}
