mdw-suggestions.mdw-panel {
  min-width: 112px;
  max-width: 280px;
  max-height: 320px;
  overflow-y: auto;
  border-radius: 0 0 28px 28px;
  background-color: var(--mdw-surface);
  box-sizing: border-box;
  box-shadow: var(--mdw-elevation-3);
  clip-path: inset(0px -30px -30px -30px);
}

mdw-suggestions::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  border-radius: 0 0 28px 28px;
  background-color: var(--mdw-elevation-tint-3);
  z-index: -1;
}

mdw-search.mdw-has-filters mdw-suggestions,
mdw-search.mdw-has-filters mdw-suggestions::after,
mdw-search.mdw-has-search-value mdw-suggestions,
mdw-search.mdw-has-search-value mdw-suggestions::after {
  padding: 8px 0;
  border-top: 1px solid var(--mdw-surface-variant);
}

mdw-search.mdw-has-filters mdw-suggestions.mdw-panel {
  min-height: 76px;
  padding-top: 46px;
  border-top: none;
  clip-path: inset(1px -30px -30px -30px);
}

.mdw-suggestions mdw-list-item,
mdw-suggestions mdw-list-item {
  cursor: pointer;
}


/* state layer */
.mdw-suggestions mdw-list-item::after,
mdw-suggestions mdw-list-item::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.mdw-suggestions mdw-list-item:focus::after,
mdw-suggestions mdw-list-item:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}

.mdw-suggestions mdw-list-item > *,
mdw-suggestions mdw-list-item > * {
  pointer-events: none;
}

.mdw-suggestions mdw-list,
.mdw-suggestions mdw-list-item,
mdw-suggestions mdw-list,
mdw-suggestions mdw-list-item {
  background-color: transparent;
}

.mdw-suggestions mark,
mdw-suggestions mark {
  background-color: var(--mdw-primary--20);
}

