:host {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  padding-top: 0;
  margin-bottom: 0;
  background-color: #e6e6e6;
}

.mdw-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--mdw-theme-primary);
}

:host(.mdw-white) .mdw-bar {
  background-color: white;
}

:host(.mdw-grey) .mdw-bar {
  background-color: grey;
}

:host(.mdw-secondary) .mdw-bar {
  background-color: var(--mdw-theme-secondary);
}

:host(.mdw-error) .mdw-bar {
  background-color: var(--mdw-theme-error);
}


:host(.mdw-query) .mdw-bar {
  transition: all 0.2s linear;
  animation: query .8s infinite cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@keyframes query {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(.3, 1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}
