:host {
  position: relative;
  display: flex;
  align-items: center;
}

:host > .background {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid var(--mdw-primary);
  margin: 0 16px;
}

:host > .background::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity 100ms;
}

:host(.mdw-checked) > .background::after {
  opacity: 1;
  transition: opacity 100ms;
}

:host > .background::before {
  content: '';
  position: absolute;
  top: -12px;
  left: -12px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--mdw-primary);
  opacity: 0;
  transition: opacity 100ms;
}

:host(:hover) > .background::before {
  opacity: var(--mdw-state-layer-opacity-hover);
  transition: opacity 180ms;
}

:host(:focus) > .background::before {
  opacity: var(--mdw-state-layer-opacity-pressed);
  transition: opacity 180ms;
}

:host(:active) > .background::before {
  opacity: var(--mdw-state-layer-opacity-focus);
  transition: opacity 180ms;
}

:host > slot {
  display: block;
  cursor: pointer;
  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);
  line-height: 20px;
  height: 20px;
}

:host(.mdw-label-left) > .background {
  order: 1;
}
