/* --- Ripple --- */

mdw-list-item .mdw-ripple {
  overflow: hidden;
}

mdw-list-item .mdw-ripple.mdw-ripple-unbounded {
  overflow: visible;
}

mdw-list-item .mdw-ripple-element {
  background-color: rgba(var(--mdw-theme-foreground--rgb), 0.16);
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0);
}

mdw-list-item .mdw-list-item-ripple {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

mdw-list-item[active]:not([disabled]) .mdw-ripple-element {
  background-color: rgba(var(--mdw-theme-primary--rgb), 0.16);
}
