mdw-tooltip {
  pointer-events: none;
  position: fixed;
  height: 24px;
  padding: 0 8px;
  font-size: var(--mdw-font-size-small-label);
  font-weight: var(--mdw-font-weight-small-label);
  line-height: 24px;
  letter-spacing: var(--mdw-font-letter-spacing-small-label);

  border-radius: var(--mdw-shape-extra-small);
  background-color: var(--mdw-on-surface-variant);
  color: var(--mdw-on-surface-inverse);

  z-index: 11;
  opacity: 0;
}

mdw-tooltip.mdw-show {
  opacity: 1;
}
