mdw-button {
  -moz-osx-font-smoothing: grayscale;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-items: center;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 0.08929em;
  line-height: 2.25rem;
  min-width: 64px;
  outline: none;
  overflow: hidden;
  padding: 0 8px 0 8px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  will-change: transform, opacity;
  margin: 0;
  color: inherit;
  background-color: transparent;
}

mdw-button.mdw-full-height {
  height: 48px;
}

mdw-button.mdw-full-width {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 0;
}


mdw-button::before,
mdw-button::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
  background-color: var(--mdw-theme-foreground);
}

mdw-button::before {
  -webkit-transition: opacity 15ms linear, background-color 15ms linear;
  -o-transition: opacity 15ms linear, background-color 15ms linear;
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}

mdw-button:hover {
  cursor: pointer;
}

mdw-button:hover::before {
  opacity: 0.04;
}

mdw-button[disabled] {
  background-color: transparent !important;
  color: rgba(var(--mdw-theme-surface--on-rgb), 0.37);
  cursor: default;
  pointer-events: none;
}

mdw-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

mdw-button:active {
  outline: none;
}

mdw-button.mdw-raised,
mdw-button.mdw-unelevated {
  background-color: white;
  color: inherit;
  padding: 0 16px 0 16px;
}

mdw-button.mdw-raised::before,
mdw-button.mdw-unelevated::before {
  opacity: 0.08;
}

mdw-button.mdw-raised {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

mdw-button.mdw-raised:hover,
mdw-button.mdw-raised:focus {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

mdw-button.mdw-raised:active {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

mdw-button.mdw-raised[disabled] {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

mdw-button.mdw-outlined {
  border-color: rgba(0, 0, 0, 0.37);
  line-height: inherit;
  border-style: solid;
  padding: 0 14px 0 14px;
  border-width: 2px;
}

mdw-button.mdw-shaped {
  border-radius: 18px;
}

mdw-button.mdw-dense {
  border-radius: 4px;
  height: 32px;
  font-size: .8125rem;
  line-height: inherit;
}

mdw-button.mdw-dense.mdw-shaped {
  border-radius: 16px;
}

mdw-button.mdw-icon {
  border-radius: 50%;
  min-width: 0;
  width: 40px;
  padding: 0;
}

mdw-button .mdw-icon {
  margin-left: 0;
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}

mdw-button svg.mdw-icon {
  fill: currentColor;
}


/* primary */

mdw-button.mdw-primary {
  color: var(--mdw-theme-primary);
}

mdw-button.mdw-primary.mdw-raised,
mdw-button.mdw-primary.mdw-unelevated  {
  background-color: var(--mdw-theme-primary);
  color: var(--mdw-theme-primary--on);
}

mdw-button.mdw-primary.mdw-outlined {
  border-color: var(--mdw-theme-primary);
}

mdw-button.mdw-primary::before,
mdw-button.mdw-primary::after {
  background-color: var(--mdw-theme-primary);
}


/* secondary */

mdw-button.mdw-secondary {
  color: var(--mdw-theme-secondary);
}

mdw-button.mdw-secondary.mdw-raised,
mdw-button.mdw-secondary.mdw-unelevated {
  background-color: var(--mdw-theme-secondary);
  color: var(--mdw-theme-secondary--on);
}

mdw-button.mdw-secondary.mdw-outlined {
  border-color: var(--mdw-theme-secondary);
}

mdw-button.mdw-secondary::before,
mdw-button.mdw-secondary::after {
  background-color: var(--mdw-theme-secondary);
}

/* error */

mdw-button.mdw-error {
  color: var(--mdw-theme-error);
}

mdw-button.mdw-error.mdw-raised,
mdw-button.mdw-error.mdw-unelevated {
  background-color: var(--mdw-theme-error);
  color: var(--mdw-theme-error--on);
}

mdw-button.mdw-error.mdw-outlined {
  border-color: var(--mdw-theme-error);
}

mdw-button.mdw-error::before,
mdw-button.mdw-error::after {
  background-color: var(--mdw-theme-error);
}


/* mdw-icon */
mdw-button mdw-icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  margin-left: -4px;
  margin-right: 2px;
  vertical-align: top;
  line-height: 36px;
}
