button {
  -moz-osx-font-smoothing: grayscale;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  align-items: center;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  height: 36px;
  justify-content: center;
  letter-spacing: 0.08929em;
  line-height: 2.25rem;
  min-width: 64px;
  outline: none;
  overflow: hidden;
  padding: 0 8px 0 8px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  will-change: transform, opacity;
}

button::before, button::after {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  top: calc(50% - 100%);
  left: calc(50% - 100%);
  width: 200%;
  height: 200%;
  background-color: #6200ee;
}

button::before {
  -webkit-transition: opacity 15ms linear, background-color 15ms linear;
  -o-transition: opacity 15ms linear, background-color 15ms linear;
  transition: opacity 15ms linear, background-color 15ms linear;
  z-index: 1;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button:active {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:hover::before {
  opacity: 0.04;
}

button:disabled {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.37);
  cursor: default;
  pointer-events: none;
}

button.dense {
  border-radius: 4px;
}

button:not(:disabled) {
  background-color: transparent;
}

button:not(:disabled) {
  color: #6200ee;
  /* @alternate */
  color: var(--mdc-theme-primary, #6200ee);
}

button .icon {
  margin-left: 0;
  margin-right: 8px;
  display: inline-block;
  width: 18px;
  height: 18px;
  font-size: 18px;
  vertical-align: top;
}

[dir="rtl"] button .icon, button .icon[dir="rtl"] {
  margin-left: 8px;
  margin-right: 0;
}

.label + .icon {
  margin-left: 8px;
  margin-right: 0;
}

[dir="rtl"] .label + .icon, .label + .icon[dir="rtl"] {
  margin-left: 0;
  margin-right: 8px;
}

svg.icon {
  fill: currentColor;
}

.raised .icon,
.unelevated .icon,
.outlined .icon {
  margin-left: -4px;
  margin-right: 8px;
}

[dir="rtl"] .raised .icon, .raised .icon[dir="rtl"], [dir="rtl"]
.unelevated .icon,
.unelevated .icon[dir="rtl"], [dir="rtl"]
.outlined .icon,
.outlined .icon[dir="rtl"] {
  margin-left: 8px;
  margin-right: -4px;
}

.raised .label + .icon,
.unelevated .label + .icon,
.outlined .label + .icon {
  margin-left: 8px;
  margin-right: -4px;
}

[dir="rtl"] .raised .label + .icon, .raised .label + .icon[dir="rtl"], [dir="rtl"]
.unelevated .label + .icon,
.unelevated .label + .icon[dir="rtl"], [dir="rtl"]
.outlined .label + .icon,
.outlined .label + .icon[dir="rtl"] {
  margin-left: -4px;
  margin-right: 8px;
}

.raised,
.unelevated {
  padding: 0 16px 0 16px;
}

.raised:disabled,
.unelevated:disabled {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.37);
}

.raised:not(:disabled),
.unelevated:not(:disabled) {
  background-color: #6200ee;
}

.raised:not(:disabled),
.unelevated:not(:disabled) {
  color: #fff;
  color: var(--mdc-theme-on-primary, #fff);
}

.raised::before, .raised::after,
.unelevated::before,
.unelevated::after {
  background-color: #fff;
}

.raised:hover::before,
.unelevated:hover::before {
  opacity: 0.08;
}

.raised {
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.raised:hover, .raised:focus {
  -webkit-box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.raised:active {
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.raised:disabled {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.outlined {
  border-style: solid;
  padding: 0 14px 0 14px;
  border-width: 2px;
}

.outlined:disabled {
  border-color: rgba(0, 0, 0, 0.37);
}

.outlined:not(:disabled) {
  border-color: #6200ee;
  /* @alternate */
  border-color: var(--mdc-theme-primary, #6200ee);
}

.dense {
  height: 32px;
  font-size: .8125rem;
}
