/* --- list item : modifications --- */

mdw-menu mdw-list-item {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0071428571em;
  text-decoration: inherit;
  text-transform: inherit;
  height: 40px;
  margin: 8px;
  padding: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}
