:host(.show-spinner) span.text {
  opacity: 0;
}

/* --- Ripple --- */

.ripple {
  overflow: hidden;
}

.ripple.ripple-unbounded {
  overflow: visible;
}

.ripple-element {
  background-color: rgba(var(--mdw-theme-foreground--rgb), 0.16);
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  transition: opacity, transform 0ms cubic-bezier(0, 0, 0.2, 1);
  transform: scale(0);
}

.fab-ripple,
.fab-focus-overlay {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}


:host(.primary) .ripple-element {
  background-color: rgba(var(--mdw-theme-background--rgb), 0.16);
}

:host(.secondary) .ripple-element {
  background-color: rgba(var(--mdw-theme-background--rgb), 0.16);
}

:host(.error) .ripple-element {
  background-color: rgba(var(--mdw-theme-background--rgb), 0.16);
}
