mdw-time-picker.mdw-panel {
  --mdw-time-selector-selector-degrees: 0;

  width: 328px;
  height: 538px;
  max-height: 538px;
  padding: 24px;
  padding-bottom: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--mdw-shape-large);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-3);
}

mdw-time-picker.mdw-panel.mdw-input-view {
  --mdw-time-selector-selector-degrees: 0;

  height: 248px;
  max-height: 248px;
}

mdw-time-picker.mdw-panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
  background-color: var(--mdw-surface-tint--6);
}

mdw-time-picker .mdw-headline {
  font-size: var(--mdw-font-size-medium-label);
  font-weight: var(--mdw-font-weight-medium-label);
  line-height: var(--mdw-font-line-height-medium-label);
  letter-spacing: var(--mdw-font-letter-spacing-medium-label);
  color: var(--mdw-on-surface-variant);
}


mdw-time-picker .mdw-time-container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 36px;
}

mdw-time-picker[hour-24] .mdw-time-container {
  margin-left: 28px;
}


mdw-time-picker .mdw-time-container .mdw-time-hour,
mdw-time-picker .mdw-time-container .mdw-time-minute {
  font-size: var(--mdw-font-size-large-display);
  font-weight: var(--mdw-font-weight-large-display);
  line-height: var(--mdw-font-line-height-large-display);
  line-height: 80px;
  letter-spacing: var(--mdw-font-letter-spacing-large-display);
  color: var(--mdw-on-surface);
  background-color: var(--mdw-surface-variant);
  border-radius: var(--mdw-shape-small);
  outline: none;
  border: none;
  width: 98px;
  text-align: center;
  cursor: pointer;
}

mdw-time-picker .mdw-time-container .mdw-time-hour[selected],
mdw-time-picker .mdw-time-container .mdw-time-minute[selected] {
  color: var(--mdw-on-primary-container);
  background-color: var(--mdw-primary-container);
}


mdw-time-picker .mdw-time-container .mdw-time-separator {
  font-size: var(--mdw-font-size-large-display);
  font-weight: var(--mdw-font-weight-large-display);
  line-height: var(--mdw-font-line-height-large-display);
  letter-spacing: var(--mdw-font-letter-spacing-large-display);
  color: var(--mdw-on-surface);
  width: 24px;
  text-align: center;
}

mdw-time-picker .mdw-time-container .mdw-meridiem-container {
  height: 80px;
  width: 52px;
  border-radius: var(--mdw-shape-small);
  border: 1px solid var(--mdw-outline);
  box-sizing: border-box;
  margin-left: 12px;
}

mdw-time-picker .mdw-time-container .mdw-meridiem-container .mdw-am,
mdw-time-picker .mdw-time-container .mdw-meridiem-container .mdw-pm {
  font-size: var(--mdw-font-size-medium-title);
  font-weight: var(--mdw-font-weight-medium-title);
  line-height: 39px;
  letter-spacing: var(--mdw-font-letter-spacing-medium-title);
  color: var(--mdw-on-surface-variant);
  text-align: center;
  cursor: pointer;
}

mdw-time-picker .mdw-time-container .mdw-meridiem-container .mdw-am {
  border-bottom: 1px solid var(--mdw-outline);
  box-sizing: border-box;
  border-radius: var(--mdw-shape-small) var(--mdw-shape-small) 0 0;
}

mdw-time-picker .mdw-time-container .mdw-meridiem-container .mdw-pm {
  line-height: 38px;
  border-radius: 0 0 var(--mdw-shape-small) var(--mdw-shape-small);
}

mdw-time-picker .mdw-time-container .mdw-meridiem-container .mdw-am[selected],
mdw-time-picker .mdw-time-container .mdw-meridiem-container .mdw-pm[selected] {
  color: var(--mdw-on-tertiary-container);
  background-color: var(--mdw-tertiary-container);
}

mdw-time-picker .mdw-dial-container {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 256px;
  width: 256px;
  border-radius: 50%;
  background-color: var(--mdw-surface-variant);
}

body.mdw-mobile mdw-time-picker.mdw-input-view .mdw-dial-container {
  display: none;
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour,
mdw-time-picker .mdw-dial-container .mdw-dial-minute {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 18px;
  margin-left: -24px;
}

mdw-time-picker.mdw-minute-view .mdw-dial-hour {
  display: none;
}

mdw-time-picker:not(.mdw-minute-view) .mdw-dial-minute {
  display: none;
}

mdw-time-picker:not([hour-24]) .mdw-dial-hour-24 {
  display: none;
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-meridiem .mdw-dial-label,
mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label,
mdw-time-picker .mdw-dial-container .mdw-dial-minute .mdw-dial-label {
  position: absolute;
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  line-height: var(--mdw-font-line-height-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);
  color: var(--mdw-on-surface);
  z-index: 1;
  user-select: none;
  cursor: pointer;
}

mdw-time-picker .mdw-dial-container .mdw-dial-minute .mdw-dial-label {
  width: 6px;
  height: 6px;
  margin-left: 20px;
  margin-top: 20px;
  pointer-events: none;
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="0"] {
  transform: rotate(-90deg) translate(102px) rotate(90deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="6"] {
  transform: rotate(-84deg) translate(102px) rotate(84deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="12"] {
  transform: rotate(-78deg) translate(102px) rotate(78deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="18"] {
  transform: rotate(-72deg) translate(102px) rotate(72deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="24"] {
  transform: rotate(-66deg) translate(102px) rotate(66deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="30"] {
  transform: rotate(-60deg) translate(102px) rotate(60deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="36"] {
  transform: rotate(-54deg) translate(102px) rotate(54deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="42"] {
  transform: rotate(-48deg) translate(102px) rotate(48deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="48"] {
  transform: rotate(-42deg) translate(102px) rotate(42deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="54"] {
  transform: rotate(-36deg) translate(102px) rotate(36deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="60"] {
  transform: rotate(-30deg) translate(102px) rotate(30deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="66"] {
  transform: rotate(-24deg) translate(102px) rotate(24deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="72"] {
  transform: rotate(-18deg) translate(102px) rotate(18deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="78"] {
  transform: rotate(-12deg) translate(102px) rotate(12deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="84"] {
  transform: rotate(-6deg) translate(102px) rotate(6deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="90"] {
  transform: rotate(0deg) translate(102px) rotate(0deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="96"] {
  transform: rotate(6deg) translate(102px) rotate(-6deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="102"] {
  transform: rotate(12deg) translate(102px) rotate(-12deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="108"] {
  transform: rotate(18deg) translate(102px) rotate(-18deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="114"] {
  transform: rotate(24deg) translate(102px) rotate(-24deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="120"] {
  transform: rotate(30deg) translate(102px) rotate(-30deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="126"] {
  transform: rotate(36deg) translate(102px) rotate(-36deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="132"] {
  transform: rotate(42deg) translate(102px) rotate(-42deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="138"] {
  transform: rotate(48deg) translate(102px) rotate(-48deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="144"] {
  transform: rotate(54deg) translate(102px) rotate(-54deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="150"] {
  transform: rotate(60deg) translate(102px) rotate(-60deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="156"] {
  transform: rotate(66deg) translate(102px) rotate(-66deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="162"] {
  transform: rotate(72deg) translate(102px) rotate(-72deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="168"] {
  transform: rotate(78deg) translate(102px) rotate(-78deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="174"] {
  transform: rotate(84deg) translate(102px) rotate(-84deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="180"] {
  transform: rotate(90deg) translate(102px) rotate(-90deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="186"] {
  transform: rotate(96deg) translate(102px) rotate(-96deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="192"] {
  transform: rotate(102deg) translate(102px) rotate(-102deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="198"] {
  transform: rotate(108deg) translate(102px) rotate(-108deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="204"] {
  transform: rotate(114deg) translate(102px) rotate(-114deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="210"] {
  transform: rotate(120deg) translate(102px) rotate(-120deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="216"] {
  transform: rotate(126deg) translate(102px) rotate(-126deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="222"] {
  transform: rotate(132deg) translate(102px) rotate(-132deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="228"] {
  transform: rotate(138deg) translate(102px) rotate(-138deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="234"] {
  transform: rotate(144deg) translate(102px) rotate(-144deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="240"] {
  transform: rotate(150deg) translate(102px) rotate(-150deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="246"] {
  transform: rotate(156deg) translate(102px) rotate(-156deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="252"] {
  transform: rotate(162deg) translate(102px) rotate(-162deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="258"] {
  transform: rotate(168deg) translate(102px) rotate(-168deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="264"] {
  transform: rotate(174deg) translate(102px) rotate(-174deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="270"] {
  transform: rotate(180deg) translate(102px) rotate(-180deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="276"] {
  transform: rotate(186deg) translate(102px) rotate(-186deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="282"] {
  transform: rotate(192deg) translate(102px) rotate(-192deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="288"] {
  transform: rotate(198deg) translate(102px) rotate(-198deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="294"] {
  transform: rotate(204deg) translate(102px) rotate(-204deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="300"] {
  transform: rotate(210deg) translate(102px) rotate(-210deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="306"] {
  transform: rotate(216deg) translate(102px) rotate(-216deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="312"] {
  transform: rotate(222deg) translate(102px) rotate(-222deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="318"] {
  transform: rotate(228deg) translate(102px) rotate(-228deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="324"] {
  transform: rotate(234deg) translate(102px) rotate(-234deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="330"] {
  transform: rotate(240deg) translate(102px) rotate(-240deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="336"] {
  transform: rotate(246deg) translate(102px) rotate(-246deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="342"] {
  transform: rotate(252deg) translate(102px) rotate(-252deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="348"] {
  transform: rotate(258deg) translate(102px) rotate(-258deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="354"] {
  transform: rotate(264deg) translate(102px) rotate(-264deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[degree="360"] {
  transform: rotate(270deg) translate(102px) rotate(-270deg);
}


mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="0"] {
  transform: rotate(-90deg) translate(68px) rotate(90deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="30"] {
  transform: rotate(-60deg) translate(68px) rotate(60deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="60"] {
  transform: rotate(-30deg) translate(68px) rotate(30deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="90"] {
  transform: rotate(0deg) translate(68px) rotate(0deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="120"] {
  transform: rotate(30deg) translate(68px) rotate(-30deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="150"] {
  transform: rotate(60deg) translate(68px) rotate(-60deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="180"] {
  transform: rotate(90deg) translate(68px) rotate(-90deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="210"] {
  transform: rotate(120deg) translate(68px) rotate(-120deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="240"] {
  transform: rotate(150deg) translate(68px) rotate(-150deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="270"] {
  transform: rotate(180deg) translate(68px) rotate(-180deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="300"] {
  transform: rotate(210deg) translate(68px) rotate(-210deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-hour-24 .mdw-dial-label[degree="330"] {
  transform: rotate(240deg) translate(68px) rotate(-240deg);
}

mdw-time-picker .mdw-dial-container .mdw-dial-label[selected] {
  color: var(--mdw-on-primary);
  pointer-events: none;
}



mdw-time-picker .mdw-dial-container .mdw-selector-container {
  position: relative;
  align-self: center;

  transform: rotate(var(--mdw-time-selector-selector-degrees));
}

mdw-time-picker .mdw-dial-container .mdw-selector-center {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: var(--mdw-primary);
  pointer-events: none;
}

mdw-time-picker .mdw-dial-container .mdw-selector-line {
  position: absolute;
  top: -90px;
  width: 2px;
  margin-left: -1px;
  height: 90px;
  background-color: var(--mdw-primary);
  pointer-events: none;
}

mdw-time-picker .mdw-dial-container .mdw-selector {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -126px;
  border-radius: 50%;
  background-color: var(--mdw-primary);
  cursor: pointer;
}

mdw-time-picker .mdw-dial-container .mdw-selector.mdw-hour-24 {
  margin-top: -92px;
}

mdw-time-picker .mdw-dial-container .mdw-selector.mdw-minute-secondary {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -96px;
}

mdw-time-picker .mdw-actions {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

mdw-time-picker.mdw-input-view .mdw-actions {
  margin-top: 0;
}


mdw-time-picker .mdw-actions mdw-button .mdw-svg-icon {
  position: absolute;
  top: 0;
  left: 9px;
  margin-top: 8px;
  height: 24px;
}
