mdw-time-picker-desktop.mdw-panel {
  --mdw-time-selector-selector-degrees: 0;

  width: 328px;
  height: 538px;
  max-height: 538px;
  padding: 24px;
  padding-bottom: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--mdw-shape-large);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-3);
}

mdw-time-picker-desktop.mdw-panel::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  z-index: -1;
  background-color: var(--mdw-surface-tint--6);
}

mdw-time-picker-desktop .mdw-headline {
  font-size: var(--mdw-font-size-medium-label);
  font-weight: var(--mdw-font-weight-medium-label);
  line-height: var(--mdw-font-line-height-medium-label);
  letter-spacing: var(--mdw-font-letter-spacing-medium-label);
  color: var(--mdw-on-surface-variant);
}


mdw-time-picker-desktop .mdw-time-container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 36px;
}


mdw-time-picker-desktop .mdw-time-container .mdw-time-hour,
mdw-time-picker-desktop .mdw-time-container .mdw-time-minute {
  font-size: var(--mdw-font-size-large-display);
  font-weight: var(--mdw-font-weight-large-display);
  line-height: var(--mdw-font-line-height-large-display);
  line-height: 80px;
  letter-spacing: var(--mdw-font-letter-spacing-large-display);
  color: var(--mdw-on-surface);
  background-color: var(--mdw-primary-container);
  border-radius: var(--mdw-shape-small);
  width: 98px;
  text-align: center;
}

mdw-time-picker-desktop .mdw-time-container .mdw-time-minute {
  background-color: var(--mdw-surface-variant);
}

mdw-time-picker-desktop .mdw-time-container .mdw-time-hour[selected],
mdw-time-picker-desktop .mdw-time-container .mdw-time-minute[selected] {
  color: var(--mdw-on-primary-container);
}


mdw-time-picker-desktop .mdw-time-container .mdw-time-separator {
  font-size: var(--mdw-font-size-large-display);
  font-weight: var(--mdw-font-weight-large-display);
  line-height: var(--mdw-font-line-height-large-display);
  letter-spacing: var(--mdw-font-letter-spacing-large-display);
  color: var(--mdw-on-surface);
  width: 24px;
  text-align: center;
}

mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container {
  height: 80px;
  width: 52px;
  border-radius: var(--mdw-shape-small);
  border: 1px solid var(--mdw-outline);
  box-sizing: border-box;
  margin-left: 12px;
}

mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container .mdw-am,
mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container .mdw-pm {
  font-size: var(--mdw-font-size-medium-title);
  font-weight: var(--mdw-font-weight-medium-title);
  line-height: 39px;
  letter-spacing: var(--mdw-font-letter-spacing-medium-title);
  color: var(--mdw-on-surface-variant);
  text-align: center;
}

mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container .mdw-am {
  border-bottom: 1px solid var(--mdw-outline);
  box-sizing: border-box;
  border-radius: var(--mdw-shape-small) var(--mdw-shape-small) 0 0;
}

mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container .mdw-pm {
  line-height: 38px;
  border-radius: 0 0 var(--mdw-shape-small) var(--mdw-shape-small);
}

mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container .mdw-am[selected],
mdw-time-picker-desktop .mdw-time-container .mdw-meridiem-container .mdw-pm[selected] {
  color: var(--mdw-on-tertiary-container);
  background-color: var(--mdw-tertiary-container);
}

mdw-time-picker-desktop .mdw-dial-container {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 256px;
  width: 256px;
  border-radius: 50%;
  background-color: var(--mdw-surface-variant);
}

mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label {
  position: absolute;
  display: flex;
  left: 50%;
  margin-top: 104px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  line-height: var(--mdw-font-line-height-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);
  color: var(--mdw-on-surface);
  z-index: 1;
  pointer-events: none;
}

mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label[selected] {
  color: var(--mdw-on-primary);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(1) {
  transform: rotate(-90deg) translate(102px) rotate(90deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(2) {
  transform: rotate(-60deg) translate(102px) rotate(60deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(3) {
  transform: rotate(-30deg) translate(102px) rotate(30deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(4) {
  transform: rotate(0deg) translate(102px) rotate(0deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(5) {
  transform: rotate(30deg) translate(102px) rotate(-30deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(6) {
  transform: rotate(60deg) translate(102px) rotate(-60deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(7) {
  transform: rotate(90deg) translate(102px) rotate(-90deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(8) {
  transform: rotate(120deg) translate(102px) rotate(-120deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(9) {
  transform: rotate(150deg) translate(102px) rotate(-150deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(10) {
  transform: rotate(180deg) translate(102px) rotate(-180deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(11) {
  transform: rotate(210deg) translate(102px) rotate(-210deg);
}
mdw-time-picker-desktop .mdw-dial-container .mdw-dial-label:nth-child(12) {
  transform: rotate(240deg) translate(102px) rotate(-240deg);
}

mdw-time-picker-desktop .mdw-dial-container .mdw-selector-container {
  position: relative;
  align-self: center;

  transform: rotate(var(--mdw-time-selector-selector-degrees));
}

mdw-time-picker-desktop .mdw-dial-container .mdw-selector-center {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  background-color: var(--mdw-primary);
  pointer-events: none;
}

mdw-time-picker-desktop .mdw-dial-container .mdw-selector-line {
  position: absolute;
  top: -90px;
  width: 2px;
  margin-left: -1px;
  height: 90px;
  background-color: var(--mdw-primary);
  pointer-events: none;
}

mdw-time-picker-desktop .mdw-dial-container .mdw-selector {
  position: absolute;
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -126px;
  border-radius: 50%;
  background-color: var(--mdw-primary);
  cursor: pointer;
}

mdw-time-picker-desktop .mdw-actions {
  display: flex;
  align-items: center;
  margin-top: 24px;
}


mdw-time-picker-desktop .mdw-actions mdw-button .mdw-svg-icon {
  margin-top: 8px;
}
