mdw-anchor [slot="rail"] {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-left: -20px;
  width: 64px;

  font-size: var(--mdw-font-size-medium-label);
  font-weight: var(--mdw-font-weight-medium-label);
  letter-spacing: var(--mdw-font-letter-spacing-medium-label);
  border-radius: var(--mdw-shape-extra-medium);
}


mdw-anchor.mdw-has-rail [slot="rail"] {
  animation: mdw-anchor-rail-hide 180ms;
}

mdw-navigation:not(.mdw-rail.mdw-state-rail) mdw-anchor.mdw-has-rail [slot="rail"] {
  display: none;
  animation: mdw-anchor-rail-show 180ms;
}

mdw-anchor [slot="rail"] mdw-icon {
  position: relative;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 32px;
  line-height: 32px;
  font-size: var(--mdw-font-size-icon-small);
}


mdw-anchor.mdw-has-rail > mdw-icon {
  transition: margin-top 180ms;
}

mdw-navigation.mdw-rail.mdw-state-rail mdw-anchor.mdw-has-rail > mdw-icon {
  margin-top: -24px !important;
}


@keyframes mdw-anchor-rail-show {
  0% {
    display: inherit;
    opacity: 1;
  }

  50% {
    display: none;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes mdw-anchor-rail-hide {
  0% {
    display: none;
    opacity: 0;
  }

  50% {
    display: none;
    opacity: 0;
  }

  100% {
    display: inherit;
    opacity: 1;
  }
}
