mdw-tabs {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 48px;

  background-color: var(--mdw-surface);
  color: var(--mdw-on-surface-variant);

  font-size: var(--mdw-font-size-small-title);
  font-weight: var(--mdw-font-weight-small-title);
  line-height: var(--mdw-font-line-height-small-title);
  letter-spacing: var(--mdw-font-letter-spacing-small-title);

  pointer-events: none;
}

mdw-tabs .mdw-tab {
  position: relative;
  flex: 1;
  pointer-events: all;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48px;
  user-select: none;
  cursor: pointer;
  background-color: none;
  outline: none;

  transition: color 120ms, background-color 220ms;
}

mdw-tabs .mdw-tab:hover {
  background-color: var(--mdw-on-surface--8);
}

mdw-tabs .mdw-tab:focus {
  background-color: var(--mdw-on-surface--12);
}

mdw-tabs .mdw-tab[selected] {
  color: var(--mdw-primary);
}

mdw-tabs .mdw-tab .mdw-label,
mdw-tabs .mdw-tab mdw-icon {
  pointer-events: none;
}

mdw-tabs .mdw-underline {
  position: absolute;
  bottom: 0;
  border-radius: 3px 3px 0 0;
  border-top: 3px solid var(--mdw-primary);
  pointer-events: none;

  transition: left 220ms, width 220ms;
}


/* --- Ripple --- */

.mdw-ripple {
  overflow: hidden;
  border-radius: inherit;
  transform: translateZ(0);
  /* fixes bug on ios safari */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.mdw-ripple > .mdw-ripple-element {
  background-color: var(--mdw-primary--16);
  border-radius: 50%;
}
