mdw-expander-arrow {
  float: right;
  border: solid #b3b3b3;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 7px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transition: transform 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

mdw-expander-arrow.open {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

mdw-expander-content {
  display: none;
}

mdw-expander-content.indent {
  padding-left: 16px;
}

mdw-expander-header {
  display: block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 1rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  white-space: nowrap;
  color: #b3b3b3;

  margin: 0;
  line-height: 18px;
  padding: 12px 24px;
}

mdw-expander-header .expander-label {
  color: #b3b3b3;
  font-weight: 400;
}

mdw-expander-header .expander-label.active {
  color: #b3b3b3;
  font-weight: 400;
}
