<article class="page-article">
  <h3>Navigation rail</h3>

  <div class="showcase mdw-elevation-1" style="background-color: #DDD">
    <mdw-navigation-rail style="position: relative;">
      <mdw-button class="mdw-icon" href="#/components/navigation-rail">
        <mdw-icon>home</mdw-icon>
      </mdw-button>

      <mdw-button class="mdw-icon">
        <mdw-icon>star</mdw-icon>
        star
      </mdw-button>
    </mdw-navigation-rail>
  </div>

  <a href="https://material.io/components/navigation-rail/" target="_new">Material Design Guidelines: Navigation rail</a>
  <p>Navigation rails provide ergonomic movement between primary destinations in apps</p>

  <div class="links">
    <div class="eyebrow">contents</div>
    <anchor-link selector="#basic" offset="64">Basic</anchor-link>
    <anchor-link selector="#nav" offset="64">With navigation drawer</anchor-link>
  </div>

  <section id="types">
    <h4>Types</h4>

    <mdw-card id="basic">
      <div class="mdw-card__content">
        <h6>Rail only</h6>
      </div>

      <div class="mdw-card__content--no-padding">
        <monaco-editor id="editor-1" language="html" style="max-height: 320px;"></monaco-editor>
      </div>

      <div class="mdw-card__content" style="display: block;">
        <div class="demo">
          <iframe style="width: 100%; height: 280px; border: 1px solid #ddd" src="navigation-rail/one.html"></iframe>
        </div>
      </div>
    </mdw-card>


    <mdw-card id="nav">
      <div class="mdw-card__content">
        <h6>Rail with navigation drawer</h6>
      </div>

      <div class="mdw-card__content--no-padding">
        <monaco-editor id="editor-2" language="html" style="max-height: 320px;"></monaco-editor>
      </div>

      <div class="mdw-card__content" style="display: block;">
        <div class="demo">
          <iframe style="width: 100%; height: 280px; border: 1px solid #ddd" src="navigation-rail/two.html"></iframe>
        </div>
      </div>
    </mdw-card>

  </section>

</article>
