mdw-badge {
  position: absolute;

  min-width: 2px;
  min-height: 2px;
  padding: 2px;
  border-radius: 8px;

  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: var(--mdw-font-letter-spacing-small-label);

  color: var(--mdw-on-error);
  background-color: var(--mdw-error);
}

mdw-badge.mdw-has-value {
  padding: 2px 3px;
}

.mdw-icon-button mdw-badge,
mdw-icon mdw-badge {
  left: calc(50% + 5px);
  top: 9px;
}
.mdw-icon-button mdw-badge.mdw-has-value,
mdw-icon mdw-badge.mdw-has-value {
  left: calc(50% - 2px);
  top: 3px;
}

mdw-anchor mdw-badge {
  display: flex;
  flex: 1;
  justify-content: end;
  position: relative;
  top: unset;
  left: unset;
  margin-right: 10px;

  background-color: transparent;
  color: var(--mdw-on-surface-variant);
  font-size: var(--mdw-font-size-small-label);
}
