mdw-switch {
  display: inline-block;
  position: relative;
  outline: none;
  user-select: none;
  -webkit-user-select: none;
}

mdw-switch + label {
  margin-left: 10px;
}

label + mdw-switch {
  margin-left: 10px;
  margin-right: 10px;
}
