mdw-chip {
  position: relative;
  display: flex;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  border: 1px solid var(--mdw-outline);
  border-radius: var(--mdw-shape-small);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;

  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);

  background-color: var(--mdw-surface);
  color: var(--mdw-on-surface);
}

/* state layer */
mdw-chip::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--mdw-shape-small);
  background-color: var(--mdw-on-surface);
  opacity: 0;
  pointer-events: none;
}

mdw-chip.mdw-elevated {
  border: none;
  box-shadow: var(--mdw-elevation-1);
}

mdw-chip-group.mdw-type-filter mdw-chip[checked] {
  border-color: transparent;
  background-color: var(--mdw-secondary-container);
  color: var(--mdw-on-secondary-container);
}

mdw-chip mdw-icon {
  position: relative;
  color: var(--mdw-primary);
  font-size: 18px;
  width: 18px;
  height: 18px;
  margin-left: -8px;
  margin-right: 8px;
  align-self: center;
  border-radius: 50%;
}

mdw-chip mdw-icon:not(.mdw-clear) {
  pointer-events: none;
}

mdw-chip mdw-icon:after {
  position: absolute;
  content: '';
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
}

mdw-chip .mdw-label + mdw-icon {
  margin-left: 8px;
  margin-right: -8px;
}

mdw-chip-group.mdw-type-input mdw-chip mdw-icon {
  color: var(--mdw-on-surface-variant);
}


mdw-chip[disabled] {
  pointer-events: none;
  background-color: var(--mdw-surface--12);
  color: var(--mdw-on-surface--38);
  border-color: var(--mdw-outline--12);
  box-shadow: none;
}

mdw-chip[disabled] mdw-icon {
  color: var(--mdw-on-surface--38);
}

mdw-chip-group.mdw-type-filter mdw-chip[checked][disabled] {
  border-color: transparent;
  background-color: var(--mdw-on-surface--12);
  color: var(--mdw-on-surface--38);
}

@media (hover: hover) {
  mdw-chip:not(.mdw-edit):hover::after {
    opacity: var(--mdw-state-layer-opacity-hover);
  }

  mdw-chip:not(.mdw-edit):hover:not(:focus).mdw-elevated {
    box-shadow: var(--mdw-elevation-2);
  }

  mdw-chip mdw-icon.mdw-clear:hover::after {
    background-color: var(--mdw-on-surface--12);
  }
}

mdw-chip:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
}


mdw-chip mdw-icon.mdw-check {
  display: none;
}

mdw-chip-group.mdw-type-filter mdw-chip[checked] mdw-icon.mdw-check {
  display: unset;
}



mdw-chip input {
  display: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;

  text-decoration: inherit;
  text-transform: inherit;
  font-size: var(--mdw-font-size-large-body);
  font-weight: var(--mdw-font-weight-large-body);
  line-height: var(--mdw-font-line-height-large-body);
  letter-spacing: var(--mdw-font-letter-spacing-large-body);
  color: var(--mdw-on-surface);
  caret-color: var(--mdw-primary);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

mdw-chip-group.mdw-type-input mdw-chip.mdw-edit {
  border: none;
}

mdw-chip-group.mdw-type-input mdw-chip.mdw-edit input {
  display: block;
}

mdw-chip-group.mdw-type-input mdw-chip.mdw-edit .mdw-label,
mdw-chip-group.mdw-type-input mdw-chip.mdw-edit mdw-icon {
  display: none;
}



/* --- Ripple --- */

.mdw-ripple {
  overflow: hidden;
  border-radius: inherit;
  transform: translateZ(0);
  /* fixes bug on ios safari */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.mdw-ripple > .mdw-ripple-element {
  background-color: var(--mdw-on-surface--16);
  border-radius: 50%;
}
