:host {
  position: relative;
  display: inline-flex;
  user-select: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  -webkit-tap-highlight-color: transparent;

  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);

  height: 48px;
  line-height: 48px;
  padding: 0 12px;
  color: var(--mdw-on-surface);
}

:host ::slotted(mdw-icon) {
  vertical-align: middle;
  margin-left: -2px;
  margin-right: 8px;
  width: var(--mdw-font-size-icon-medium) !important;
  height: var(--mdw-font-size-icon-medium) !important;
  font-size: var(--mdw-font-size-icon-medium) !important;
}

:host ::slotted(mdw-icon.mdw-trailing) {
  margin-right: -2px;
  margin-left: 8px;
}

:host([disabled]) {
  pointer-events: none;
  cursor: unset;
  color: var(--mdw-on-surface);
  opacity: 0.38;
}

/* state layer */
:host::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

:host(:focus)::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}


/* hover state layers. Media needed to prevent hover on mobile */
@media (hover: hover) {
  :host(:hover)::after {
    opacity: var(--mdw-state-layer-opacity-hover);
    background-color: var(--mdw-on-surface);
  }
}


:host([selected])::after,
:host:active::after {
  opacity: var(--mdw-state-layer-opacity-pressed);
  background-color: var(--mdw-primary);
}

:host(:not([selected])):focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}


/* --- Ripple --- */

.ripple {
  overflow: hidden;
  border-radius: inherit;
  transform: translateZ(0);
  /* fixes bug on ios safari */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.ripple > .mdw-ripple-element {
  background-color: var(--mdw-on-surface--16);
  border-radius: 50%;
}
