/* hide while loading */
html:not(.mdw-initiated) body {
  opacity: 0;
  pointer-events: none;
}

/* Change theme by adding 'color-scheme: dark | light;' to the html element style */
/* By default it will use the system preference */

:root {
  --mdw-primary: #6750A4;
  --mdw-primary-container: #EADDFF;
  --mdw-on-primary: #FFFFFF;
  --mdw-on-primary-container: #21005E;
  --mdw-primary-inverse: #D0BCFF;

  --mdw-secondary: #625B71;
  --mdw-secondary-container: #E8DEF8;
  --mdw-on-secondary: #FFFFFF;
  --mdw-on-secondary-container: #1E192B;

  --mdw-tertiary: #7D5260;
  --mdw-tertiary-container: #FFD8E4;
  --mdw-on-tertiary: #FFFFFF;
  --mdw-on-tertiary-container: #370B1E;

  --mdw-error: #B3261E;
  --mdw-error-container: #F9DEDC;
  --mdw-on-error: #FFFFFF;
  --mdw-on-error-container: #370B1E;

  --mdw-surface: #FFFBFE;
  --mdw-surface-variant: #E7E0EC;
  --mdw-on-surface: #1C1B1F;
  --mdw-on-surface-variant: #49454E;
  --mdw-surface-tint: #6750A4;
  --mdw-surface-inverse: #313033;
  --mdw-on-surface-inverse: #F4EFF4;

  /* original */
  /* --mdw-background: #FFFBFE; */
  --mdw-background: #edebed;
  --mdw-on-background: #1C1B1F;

  --mdw-outline: #79747E;
  --mdw-outline-variant: #C4C7C5;

  --mdw-shadow: #000000;
  --mdw-scrim: #000000;

  --mdw-state-layer-opacity-hover: 0.08;
  --mdw-state-layer-opacity-focus: 0.12;
  --mdw-state-layer-opacity-pressed: 0.12;
  --mdw-state-layer-opacity-dragged: 0.16;

  --mdw-shape-no-rounding: 0;
  --mdw-shape-extra-small: 4px;
  --mdw-shape-extra-small-top: 4px 4px 0 0;
  --mdw-shape-small: 8px;
  --mdw-shape-medium: 12px;
  --mdw-shape-large: 16px;
  --mdw-shape-large-end: 0 16px 16px 0;
  --mdw-shape-large-top: 16px 16px 0 0;
  --mdw-shape-extra-large: 28px;
  --mdw-shape-extra-large-top: 28px 28px 0 0;
  --mdw-shape-full: 50%;


  --mdw-navigation-rail-width: 88px;
  --mdw-button-radius: 20px;
  --mdw-navigation-drawer-width: 360px;
  --mdw-card-group-columns: 4;

  --mdw-transition-expand-in: cubic-bezier(.13, 1.02, .25, .95);
  --mdw-transition-expand-out: cubic-bezier(0.550, 0.085, 0.680, 0.530);
  --mdw-transition-bounce: cubic-bezier(.47, 1.64, .41, .8);

  --mdw-bottom-sheet-initial-position: 40%;
  --mdw-bottom-sheet-minimized-position: 64px;



  /* --- font sizes are represented in pixels but scale with html.style.fontSize. base is 16px */

  --mdw-font-size-icon-small: 20px;
  --mdw-font-size-icon-medium: 24px;
  --mdw-font-size-icon-large: 36px;
  --mdw-font-size-icon-extra-large: 48px;

  --mdw-font-size-large-display: 59px;
  --mdw-font-line-height-large-display: 66px;
  --mdw-font-weight-large-display: 400;
  --mdw-font-letter-spacing-large-display: 0;

  --mdw-font-size-medium-display: 47px;
  --mdw-font-line-height-medium-display: 54px;
  --mdw-font-weight-medium-display: 400;
  --mdw-font-letter-spacing-medium-display: 0;

  --mdw-font-size-small-display: 38px;
  --mdw-font-line-height-small-display: 46px;
  --mdw-font-weight-small-display: 400;
  --mdw-font-letter-spacing-small-display: 0px;

  --mdw-font-size-large-label: 16px;
  --mdw-font-line-height-large-label: 22px;
  --mdw-font-weight-large-label: 500;
  --mdw-font-letter-spacing-large-label: 0.1px;

  --mdw-font-size-medium-label: 14px;
  --mdw-font-line-height-medium-label: 18px;
  --mdw-font-weight-medium-label: 500;
  --mdw-font-letter-spacing-medium-label: 0.5px;

  --mdw-font-size-small-label: 13px;
  --mdw-font-line-height-small-label: 18px;
  --mdw-font-weight-small-label: 500;
  --mdw-font-letter-spacing-small-label: 0.1px;

  --mdw-font-size-large-title: 24px;
  --mdw-font-line-height-large-title: 30px;
  --mdw-font-weight-large-title: 400;
  --mdw-font-letter-spacing-large-title: 0;

  --mdw-font-size-medium-title: 18px;
  --mdw-font-line-height-medium-title: 24px;
  --mdw-font-weight-medium-title: 500;
  --mdw-font-letter-spacing-medium-title: 0.15px;

  --mdw-font-size-small-title: 14px;
  --mdw-font-line-height-small-title: 20px;
  --mdw-font-weight-small-title: 500;
  --mdw-font-letter-spacing-small-title: 0.1px;

  --mdw-font-size-large-body: 18px;
  --mdw-font-line-height-large-body: 26px;
  --mdw-font-weight-large-body: 400;
  --mdw-font-letter-spacing-large-body: 0.5px;

  --mdw-font-size-medium-body: 16px;
  --mdw-font-line-height-medium-body: 22px;
  --mdw-font-weight-medium-body: 400;
  --mdw-font-letter-spacing-medium-body: 0.25px;

  --mdw-font-size-small-body: 14px;
  --mdw-font-line-height-small-body: 18px;
  --mdw-font-weight-small-body: 400;
  --mdw-font-letter-spacing-small-body: 0.4px;

  --mdw-font-size-large-headline: 34px;
  --mdw-font-line-height-large-headline: 40px;
  --mdw-font-weight-large-headline: 400;
  --mdw-font-letter-spacing-large-headline: 0;

  --mdw-font-size-medium-headline: 30px;
  --mdw-font-line-height-medium-headline: 36px;
  --mdw-font-weight-medium-headline: 400;
  --mdw-font-letter-spacing-medium-headline: 0;

  --mdw-font-size-small-headline: 26px;
  --mdw-font-line-height-small-headline: 32px;
  --mdw-font-weight-small-headline: 400;
  --mdw-font-letter-spacing-small-headline: 0;
}


/* you can use system preference for dark, but this is not fully implemented yet. https: //developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
/*   Currently this feature is polyfilled and should work as expected */
/*   All you need to do is add 'color-scheme: dark | light;' to the html element style */
/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */

:root.mdw-theme-dark {
  --mdw-primary: #d0bcff;
  --mdw-primary-container: #4f378b;
  --mdw-on-primary: #381e73;
  --mdw-on-primary-container: #eaddff;
  --mdw-primary-inverse: #2f4300;

  --mdw-secondary: #cbc2db;
  --mdw-secondary-container: #4a4458;
  --mdw-on-secondary: #332d41;
  --mdw-on-secondary-container: #e8def8;

  --mdw-tertiary: #efb8c8;
  --mdw-tertiary-container: #633b48;
  --mdw-on-tertiary: #4a2532;
  --mdw-on-tertiary-container: #ffd8e4;

  --mdw-error: #f2b8b5;
  --mdw-error-container: #8c1d18;
  --mdw-on-error: #601410;
  --mdw-on-error-container: #f9dedc;

  --mdw-surface: #1c1b1e;
  --mdw-surface-variant: #49454f;
  --mdw-on-surface: #e6e1e5;
  --mdw-on-surface-variant: #cac4cf;
  --mdw-surface-tint: #d0bcff;
  --mdw-surface-inverse: #e3e4e1;
  --mdw-on-surface-inverse: #191e1a;

  /* original */
  /* --mdw-background: #1c1b1e; */

  --mdw-background: #39373d;
  --mdw-on-background: #e6e1e5;

  --mdw-outline: #948f99;
  --mdw-outline-variant: #cdd1cf;

  --mdw-shadow: #000000;
  --mdw-scrim: #000000;
}
