mdw-content {
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 0 16px;
  width: 100%;
  overflow: auto;

  &[mdw-no-scroll] {
    overflow: unset;
  }

  &.mdw-no-padding {
    padding: 0;
  }
}
