mdw-content {
  overflow: auto;
  display: block;
  box-sizing: border-box;
  height: 100%;
  padding: 0 40px;
  width: 100%;
}

mdw-content.mdw-no-padding {
  padding: 0;
}

mdw-content.mdw-constrain-width > render-block-page {
  display: block;
  max-width: 840px;
}
