mdw-select {
  &.mdw-on-primary {
    --mdw-theme-textfield-background-color: var(--mdw-theme-textfield-on-primary-background-color);
    --mdw-theme-textfield-background-color--rgb: var(--mdw-theme-textfield-on-primary-background-color--rgb);
    --mdw-theme-textfield-primary-on-background: var(--mdw-theme-textfield-on-primary-primary-on-background);
    --mdw-theme-textfield-primary-on-background--rgb: var(--mdw-theme-textfield-on-primary-primary-on-background--rgb);
    --mdw-theme-textfield-on-background: var(--mdw-theme-textfield-on-primary-on-background);
    --mdw-theme-textfield-on-background--rgb: var(--mdw-theme-textfield-on-primary-on-background--rgb);
    --mdw-theme-textfield-primary: var(--mdw-theme-textfield-on-primary-primary);
    --mdw-theme-textfield-primary--rgb: var(--mdw-theme-textfield-on-primary-primary--rgb);
    --mdw-theme-textfield-on-secondary: var(--mdw-theme-textfield-on-primary-on-secondary);
    --mdw-theme-textfield-on-secondary--rgb: var(--mdw-theme-textfield-on-primary-on-secondary--rgb);
    --mdw-theme-textfield-text--body: var(--mdw-theme-textfield-on-primary-text--body);
    --mdw-theme-textfield-underline-color: var(--mdw-theme-textfield-on-primary-underline-color);
    --mdw-theme-textfield-background-fill-color: var(--mdw-theme-textfield-on-primary-background-fill-color);
  }

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  will-change: transform,opacity,color;
  display: inline-flex;
  position: relative;
  box-sizing: border-box;
  border-radius: 4px 4px 0 0;


  &.mdw-outlined {
    border: none;
    overflow: visible;
    
    &:not(.mdw-select--disabled) {
      background-color: transparent;
    }
  }


  &.mdw-shaped {
    border: none;
    overflow: visible;
    border-radius: var(--mdw-theme--button-shape-radius, 18px);
  }
}

.mdw-density-comfortable mdw-select {
  height: 48px;
  margin-top: 0;
  margin-right: 0;
}

.mdw-density-comfortable mdw-select {
  height: 48px;
  margin-top: 0;
  margin-right: 0;
}


.mdw-density-compact mdw-select {
  height: 40px;
  margin-top: 0;
  margin-right: 0;
}

mdw-select.mdw-padding {
  margin-top: 24px;
  margin-right: 24px;
}

/* TODO figure out what color var to use */
mdw-select:not(.mdw-select--disabled) {
  background-color: var(--mdw-theme-textfield-background-fill-color);
}

mdw-select:after,
mdw-select:before {
  position: absolute;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: var(--mdw-theme-textfield-background-fill-color);
}

mdw-select:before {
  transition: opacity 15ms linear,
              background-color 15ms linear;
  z-index: 1;
}

mdw-panel.mdw-select-panel {
  &.mdw-shaped {
    border-radius: var(--mdw-theme--button-shape-radius, 18px);
  }

  &.mdw-search {
    border-radius: var(--mdw-theme--button-shape-radius, 18px);

    mdw-content {
      mdw-textfield {
        width: calc(100% - 2px);
      }
    }
  }
}
