mdw-date-picker-desktop {
  width: 328px;
  height: 428px;
  max-height: 428px;
  padding: 12px;
  padding-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: var(--mdw-shape-large);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-3);
}

mdw-date-picker-desktop .mdw-control-container {
  display: flex;
  height: 24px;
  align-items: center;
  padding-bottom: 30px;
}

mdw-date-picker-desktop .mdw-control-container > .mdw-icon-svg {
  display: flex;
  width: 32px;
  margin: 0;
  justify-content: center;
  cursor: pointer;
}

mdw-date-picker-desktop .mdw-years-container .mdw-year-item[disabled],
mdw-date-picker-desktop .mdw-months-container .mdw-month-item[disabled],
mdw-date-picker-desktop .mdw-control-container .mdw-year-drop-down[disabled],
mdw-date-picker-desktop .mdw-control-container .mdw-month-drop-down[disabled],
mdw-date-picker-desktop .mdw-control-container .mdw-year-previous[disabled],
mdw-date-picker-desktop .mdw-control-container .mdw-year-next[disabled],
mdw-date-picker-desktop .mdw-control-container .mdw-month-previous[disabled],
mdw-date-picker-desktop .mdw-control-container .mdw-month-next[disabled] {
  pointer-events: none;
  cursor: none;
  opacity: 0.38;
}

mdw-date-picker-desktop.mdw-years-view .mdw-control-container .mdw-month-previous,
mdw-date-picker-desktop.mdw-years-view .mdw-control-container .mdw-month-next,
mdw-date-picker-desktop.mdw-years-view .mdw-control-container .mdw-year-previous,
mdw-date-picker-desktop.mdw-years-view .mdw-control-container .mdw-year-next,
mdw-date-picker-desktop.mdw-months-view .mdw-control-container .mdw-month-previous,
mdw-date-picker-desktop.mdw-months-view .mdw-control-container .mdw-month-next,
mdw-date-picker-desktop.mdw-months-view .mdw-control-container .mdw-year-previous,
mdw-date-picker-desktop.mdw-months-view .mdw-control-container .mdw-year-next {
  pointer-events: none;
  cursor: none;
  opacity: 0;
}

mdw-date-picker-desktop.mdw-years-view .mdw-control-container .mdw-month-drop-down,
mdw-date-picker-desktop.mdw-months-view .mdw-control-container .mdw-year-drop-down {
  opacity: .38;
  pointer-events: none;
}

mdw-date-picker-desktop.mdw-years-view .mdw-control-container .mdw-month-drop-down .mdw-icon-svg,
mdw-date-picker-desktop.mdw-months-view .mdw-control-container .mdw-year-drop-down .mdw-icon-svg {
  opacity: 0;
}

mdw-date-picker-desktop .mdw-control-container > .mdw-month-drop-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  margin-left: 6px;
  cursor: pointer;
}

mdw-date-picker-desktop .mdw-control-container > .mdw-year-drop-down {
  display: flex;
  align-items: center;
  width: 60px;
  margin-left: 6px;
  cursor: pointer;
}

mdw-date-picker-desktop .mdw-control-container .mdw-month-label,
mdw-date-picker-desktop .mdw-control-container .mdw-year-label {
  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  line-height: var(--mdw-font-line-height-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);
  color: var(--mdw-on-surface);
  margin-right: 4px
}



mdw-date-picker-desktop .mdw-month-days-container {
  position: relative;
  width: 100%;
  height: 294px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
  opacity: 1;
  transition: opacity 120ms;
}

mdw-date-picker-desktop.mdw-years-view .mdw-month-days-container,
mdw-date-picker-desktop.mdw-months-view .mdw-month-days-container {
  pointer-events: none;
  opacity: 0;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  flex: 1;
  padding: 0 14px;
  margin-bottom: 16px;

  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container {
  position: absolute;
  display: grid;
  top: 40px;
  height: 254px;
  left: 100%;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(6, 40px);
  grid-column-gap: 4px;
  grid-row-gap: 0;
  align-items: center;
  justify-items: center;
  pointer-events: none;
  opacity: 0;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container.mdw-active {
  display: grid;
  left: 0;
  pointer-events: all;
  opacity: 1;
}

mdw-date-picker-desktop.mdw-years-view .mdw-month-days-container .mdw-days-container.mdw-active {
  pointer-events: none;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;

  font-size: var(--mdw-font-size-small-label);
  font-weight: var(--mdw-font-weight-small-label);
  line-height: var(--mdw-font-line-height-small-label);
  letter-spacing: var(--mdw-font-letter-spacing-small-label);
  color: var(--mdw-on-surface);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day.mdw-interactive {
  cursor: pointer;
  pointer-events: auto;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day.mdw-not-current-month {
  color: var(--mdw-on-surface--60);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day.mdw-out-of-range {
  pointer-events: none;
  cursor: auto;
  color: var(--mdw-on-surface--60);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day[selected] {
  color: var(--mdw-on-primary);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day[selected]::before {
  background-color: var(--mdw-primary);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day.mdw-today {
  border: 1px solid var(--mdw-outline--60);
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container .mdw-day.mdw-not-current-month[selected] {
  color: var(--mdw-on-primary);
}

mdw-date-picker-desktop .mdw-actions {
  display: flex;
  opacity: 1;
  transition: opacity 120ms;
}

mdw-date-picker-desktop.mdw-years-view .mdw-actions,
mdw-date-picker-desktop.mdw-months-view .mdw-actions {
  opacity: 0;
  pointer-events: none;
}

mdw-date-picker-desktop .mdw-actions > mdw-button:first-of-type {
  margin-right: auto;
}


mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container.mdw-animation-next-to-active {
  animation: mdw-month-next-to-active 180ms;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container.mdw-animation-next-from-active {
  animation: mdw-month-next-from-active 180ms;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container.mdw-animation-previous-to-active {
  animation: mdw-month-previous-to-active 180ms;
}

mdw-date-picker-desktop .mdw-month-days-container .mdw-days-container.mdw-animation-previous-from-active {
  animation: mdw-month-previous-from-active 180ms;
}


@keyframes mdw-month-next-to-active {
  0% {
    left: 25%;
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes mdw-month-next-from-active {
  0% {
    left: 0;
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    left: -25%;
    opacity: 0;
  }
}

@keyframes mdw-month-previous-to-active {
  0% {
    left: -25%;
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes mdw-month-previous-from-active {
  0% {
    left: 0;
    opacity: 1;
  }

  60% {
    opacity: 0;
  }

  100% {
    left: 25%;
    opacity: 0;
  }
}


/* --- months view --- */

mdw-date-picker-desktop .mdw-months-container {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 364px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  transition: opacity 120ms;
  background-color: var(--mdw-surface);
  border-radius: var(--mdw-shape-large);
}

mdw-date-picker-desktop.mdw-months-view .mdw-months-container {
  opacity: 1;
  pointer-events: all;
}

mdw-date-picker-desktop .mdw-months-container .mdw-month-item {
  display: flex;
  height: 48px;
  line-height: 48px;
  align-items: center;
  cursor: pointer;
}

mdw-date-picker-desktop .mdw-months-container .mdw-month-item[selected] {
  background-color: var(--mdw-surface-tint--6);
}

mdw-date-picker-desktop .mdw-months-container .mdw-month-item:hover {
  background-color: var(--mdw-surface-tint--12);
}

mdw-date-picker-desktop .mdw-months-container .mdw-icon-svg {
  opacity: 0;
  margin: 0 14px;
  pointer-events: none;
}

mdw-date-picker-desktop .mdw-months-container .mdw-month-item[selected] .mdw-icon-svg {
  opacity: 1;
}


/* --- years view --- */

mdw-date-picker-desktop .mdw-years-container {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  height: 364px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  transition: opacity 120ms;
  background-color: var(--mdw-surface);
  border-radius: var(--mdw-shape-large);
}

mdw-date-picker-desktop.mdw-years-view .mdw-years-container {
  opacity: 1;
  pointer-events: all;
}

mdw-date-picker-desktop .mdw-years-container .mdw-year-item {
  display: flex;
  height: 48px;
  line-height: 48px;
  align-items: center;
  cursor: pointer;
}

mdw-date-picker-desktop .mdw-years-container .mdw-year-item[selected] {
  background-color: var(--mdw-surface-tint--6);
}

mdw-date-picker-desktop .mdw-years-container .mdw-year-item:hover {
  background-color: var(--mdw-surface-tint--12);
}

mdw-date-picker-desktop .mdw-years-container .mdw-icon-svg {
  opacity: 0;
  margin: 0 14px;
  pointer-events: none;
}

mdw-date-picker-desktop .mdw-years-container .mdw-year-item[selected] .mdw-icon-svg {
  opacity: 1;
}
