mdw-date-picker-mobile {
  --mdw-months-container-drag-left: 0;

  display: flex;
  flex-direction: column;
  width: 328px;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--mdw-shape-large);
  box-shadow: var(--mdw-elevation-3);
  background-color: var(--mdw-surface);
}

mdw-date-picker-mobile .mdw-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 24px;
  padding-top: 16px;
  box-sizing: border-box;
}

mdw-date-picker-mobile .mdw-icon-svg > svg {
  fill: var(--mdw-on-surface-variant);
}

mdw-date-picker-mobile .mdw-header .mdw-select-date-text {
  font-size: var(--mdw-font-size-medium-label);
  font-weight: var(--mdw-font-weight-medium-label);
  letter-spacing: var(--mdw-font-letter-spacing-medium-label);
  color: var(--mdw-on-surface-variant);
  line-height: 16px;
  height: 16px;
  margin-bottom: 36px;
}

mdw-date-picker-mobile .mdw-header .mdw-display-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mdw-on-surface-variant);
}

mdw-date-picker-mobile .mdw-header .mdw-display-date-container .mdw-display-date-text {
  font-size: var(--mdw-font-size-large-headline);
  font-weight: var(--mdw-font-weight-large-headline);
  letter-spacing: var(--mdw-font-letter-spacing-large-headline);
  line-height: 40px;
  height: 40px;
}

mdw-date-picker-mobile .mdw-controls-container {
  display: flex;
  height: 24px;
  padding: 16px 12px;

  color: var(--mdw-on-surface-variant);
}


mdw-date-picker-mobile .mdw-controls-container .mdw-year-drop-down {
  flex: 1;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}

mdw-date-picker-mobile .mdw-controls-container .mdw-month-previous {
  margin-right: 28px;
}

mdw-date-picker-mobile .mdw-controls-container .mdw-month-next {
  margin-right: 6px;
}

mdw-date-picker-mobile .mdw-controls-container .mdw-month-previous,
mdw-date-picker-mobile .mdw-controls-container .mdw-month-next {
  opacity: 1;
  transition: opacity 120ms;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

mdw-date-picker-mobile.mdw-year-view .mdw-controls-container .mdw-month-previous,
mdw-date-picker-mobile.mdw-year-view .mdw-controls-container .mdw-month-next {
  pointer-events: none;
  opacity: 0;
}

mdw-date-picker-mobile.mdw-year-view .mdw-controls-container .mdw-month-previous[disabled],
mdw-date-picker-mobile.mdw-year-view .mdw-controls-container .mdw-month-next[disabled] {
  pointer-events: none;
  opacity: 0.38;
}

mdw-date-picker-mobile .mdw-controls-container > .mdw-year-drop-down {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 12px;
  -webkit-tap-highlight-color: transparent;
}

mdw-date-picker-mobile .mdw-controls-container > .mdw-year-drop-down {
  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  line-height: var(--mdw-font-line-height-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);
  -webkit-tap-highlight-color: transparent;
}

mdw-date-picker-mobile .mdw-controls-container > .mdw-year-drop-down .mdw-year-label {
  margin-right: 4px;
  -webkit-tap-highlight-color: transparent;
}

mdw-date-picker-mobile .mdw-controls-container > .mdw-year-drop-down > .mdw-icon-svg {
  width: 24px;
  height: 24px;
  transform-origin: center;
  transform: rotate(0);
  transition: transform 280ms;
  -webkit-tap-highlight-color: transparent;
}

mdw-date-picker-mobile .mdw-controls-container > .mdw-year-drop-down > .mdw-icon-svg > svg {
  fill: var(--mdw-on-surface-variant);
}

mdw-date-picker-mobile.mdw-year-view .mdw-controls-container > .mdw-year-drop-down > .mdw-icon-svg {
  transform: rotate(180deg);
}

mdw-date-picker-mobile .mdw-actions-container {
  position: relative;
  display: flex;
  justify-content: end;
  height: 36px;
  padding: 12px;
  padding-top: 8px;
  background-color: var(--mdw-surface);
  z-index: 1;
  border-radius: 0 0 var(--mdw-shape-large) var(--mdw-shape-large);;
}

mdw-date-picker-mobile > .mdw-divider {
  width: 100%;
  border-top: 1px solid var(--mdw-outline--26);
}




mdw-date-picker-mobile .mdw-views-container {
  position: relative;
  height: 280px;
  transition: height 120ms;
}

mdw-date-picker-mobile.mdw-input-view .mdw-views-container {
  height: 90px;
}



/* --- month days ---*/

mdw-date-picker-mobile .mdw-views-container .mdw-months-container {
  position: relative;
  left: var(--mdw-months-container-drag-left);
  width: 100%;
  height: 280px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
  transition: opacity 120ms;
}

mdw-date-picker-mobile.mdw-drag-animation .mdw-views-container .mdw-months-container {
  transition: left 180ms;
}

mdw-date-picker-mobile.mdw-input-view .mdw-views-container .mdw-months-container {
  opacity: 0;
  pointer-events: none;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-days-header {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 11px 12px;

  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface);
}

mdw-date-picker-mobile.mdw-year-view .mdw-views-container .mdw-months-container .mdw-days-header {
  opacity: 0;
  pointer-events: none;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  padding: 0 16px;
  pointer-events: none;
  box-sizing: border-box;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  grid-template-rows: repeat(6, 40px);
  grid-column-gap: 3px;
  grid-row-gap: 0;
  align-items: center;
  justify-items: center;
  pointer-events: none;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-active {
  left: 0;
  pointer-events: all;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-previous {
  left: -100%;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-next {
  left: 100%;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-active-next {
  left: 0;
  transition: left 180ms;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-active-next.mdw-next {
  left: 100%;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-previous-active {
  left: -100%;
  transition: left 180ms;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-previous-active.mdw-active {
  left: 0;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-active-previous {
  left: 0;
  transition: left 180ms;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-active-previous.mdw-previous {
  left: -100%;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-next-active {
  left: 100%;
  transition: left 180ms;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month.mdw-animation-next-active.mdw-active {
  left: 0;
}


mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container {
  opacity: 1;
  transition: opacity 120ms;
}

mdw-date-picker-mobile.mdw-year-view .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container {
  opacity: 0;
}

mdw-date-picker-mobile:not(.mdw-year-view) .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container {
  pointer-events: auto;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;

  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface);
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  border-radius: 50%;
  z-index: -1;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day.mdw-interactive {
  cursor: pointer;
  pointer-events: auto;
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day.mdw-not-current-month {
  color: var(--mdw-on-surface--60);
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day.mdw-out-of-range {
  pointer-events: none;
  cursor: auto;
  color: var(--mdw-on-surface--60);
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day[selected] {
  color: var(--mdw-on-primary);
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day[selected]::before {
  background-color: var(--mdw-primary);
}

mdw-date-picker-mobile .mdw-views-container .mdw-months-container .mdw-month .mdw-days-container .mdw-day.mdw-today::before {
  border: 1px solid var(--mdw-outline--60);
}




/* --- year --- */


mdw-date-picker-mobile .mdw-views-container .mdw-years-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
  height: 280px;

  display: grid;
  grid-template-columns: repeat(3, 88px);
  grid-column-gap: 8px;
  grid-row-gap: 0px;
  align-items: center;
  justify-items: center;
  padding: 8px 16px;
  padding-right: 20px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 120ms;
}

mdw-date-picker-mobile.mdw-year-view .mdw-views-container .mdw-years-container {
  opacity: 1;
  pointer-events: all;
  background-color: var(--mdw-surface);
}

mdw-date-picker-mobile .mdw-views-container .mdw-years-container .mdw-year {
  width: 100%;
  border-radius: 18px;
  text-align: center;
  cursor: pointer;
  margin: 7px;
  -webkit-tap-highlight-color: transparent;

  font-size: var(--mdw-font-size-medium-label);
  font-weight: var(--mdw-font-weight-medium-label);
  line-height: 36px;
  letter-spacing: var(--mdw-font-letter-spacing-medium-label);
  color: var(--mdw-on-surface);
}

mdw-date-picker-mobile .mdw-views-container .mdw-years-container .mdw-year[selected] {
  background-color: var(--mdw-primary);
  color: var(--mdw-on-primary);
}

mdw-date-picker-mobile .mdw-views-container .mdw-years-container .mdw-year.mdw-out-of-range {
  pointer-events: none;
  cursor: auto;
  color: var(--mdw-on-surface--60);
}



/* --- input --- */


mdw-date-picker-mobile .mdw-views-container .mdw-input-container {
  position: absolute;
  top: 16px;
  left: 24px;
  right: 24px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 120ms;
}

mdw-date-picker-mobile.mdw-input-view .mdw-views-container .mdw-input-container {
  opacity: 1;
  pointer-events: all;
}

mdw-date-picker-mobile .mdw-views-container .mdw-input-container mdw-textfield {
  width: 100%;
}
