/*
  To make calculating position easier we do not set display: none;
  instead we set translateY(10000px) to push the panel off screen

  The alternative would be to calculate the height using computed css (only works when css height set)
  or to programmatically set display be fore calculating position
*/

mdw-panel,
.mdw-panel {
  display: flex;
  position: fixed;
  flex-direction: column;
  max-width: calc(100% - 84px);
  max-height: calc(100% - 84px);
  box-sizing: border-box;
  z-index: 11;
  left: 50%;
  top: 50%;
  pointer-events: none;

  opacity: 0;
  /* transform: translate(-50%, calc(-50% - 120px)); */
  /* kick off screen so pointer events to hit */
  transform: translateY(10000px);

  animation: mdw-panel-hide 280ms;
  animation-timing-function: var(--mdw-transition-expand-out);
}

mdw-panel.mdw-animating::-webkit-scrollbar,
.mdw-panel.mdw-animating::-webkit-scrollbar {
  display: none;
}

mdw-panel.mdw-target,
.mdw-panel.mdw-target {
  /* transform: translateY(-120px); */
  animation: mdw-panel-hide-target 280ms;
}


mdw-panel[open],
.mdw-panel[open] {
  display: flex;
  opacity: 1;
  transform: translate(-50%, -50%);
  pointer-events: all;

  animation: mdw-panel-show 280ms;
  animation-timing-function: var(--mdw-transition-expand-in);
}

mdw-panel[open].mdw-target,
.mdw-panel[open].mdw-target {
  transform: translateY(0);
  animation: mdw-panel-show-target 280ms;
}

mdw-panel.mdw-animation-scale,
mdw-panel.mdw-animation-scale.mdw-target,
.mdw-panel.mdw-animation-scale,
.mdw-panel.mdw-animation-scale.mdw-target {
  animation: mdw-panel-hide-scale 180ms;
  transform: scale(0.9);
}

mdw-panel[open].mdw-animation-scale,
mdw-panel[open].mdw-animation-scale.mdw-target,
.mdw-panel[open].mdw-animation-scale,
.mdw-panel[open].mdw-animation-scale.mdw-target {
  animation: mdw-panel-show-scale 180ms;
  transform: scale(1);
}

mdw-panel.mdw-no-animation,
mdw-panel.mdw-no-animation.mdw-target,
.mdw-panel.mdw-no-animation,
.mdw-panel.mdw-no-animation.mdw-target {
  animation: none;
  transition: none;
}



@keyframes mdw-panel-show {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 120px));
  }
  /* 1% {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 120px));
  } */
  60% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes mdw-panel-hide {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  70% {
    opacity: 0;
  }

  99% {
    transform: translate(-50%, calc(-50% - 120px));
  }

  100% {
    /* kick off screen so pointer events to hit */
    transform: translateY(10000px);
  }
}

@keyframes mdw-panel-show-target {
  0% {
    opacity: 0;
    transform: translateY(-120px);
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes mdw-panel-hide-target {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  70% {
    opacity: 0;
  }

  99% {
    transform: translateY(-120px);
  }

  100% {
    /* kick off screen so pointer events to hit */
    transform: translateY(10000px);
  }
}


@keyframes mdw-panel-show-scale {
  0% {
    /* overflow: hidden; */
    opacity: 0;
    transform: scale(0.9)
  }

  60% {
    opacity: 1;
  }

  99% {
    /* overflow: hidden; */
  }
  100% {
    /* overflow: auto; */
    transform: scale(1)
  }
}


@keyframes mdw-panel-hide-scale {
  0% {
    /* overflow: hidden; */
    opacity: 1;
    transform: scale(1)
  }

  70% {
    opacity: 0;
  }

  99% {
    /* overflow: hidden; */
    transform: scale(0.9)
  }

  100% {
    /* overflow: auto; */
    /* kick off screen so pointer events to hit */
    transform: translateY(10000px);
  }
}
