mdw-card {
  --mdw-card-swipe-position: 0px;

  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--mdw-shape-medium);
  outline: none;
  -webkit-tap-highlight-color: transparent;

  box-shadow: var(--mdw-elevation-1);
  box-sizing: border-box;
  background-color: var(--mdw-surface);
  color: var(--mdw-on-surface);
  z-index: 0;

  /* padding: 16px; */
  margin-bottom: 8px;

  left: var(--mdw-card-swipe-position);
  transition: left 120ms;
}
/* fixes outline overlap */
mdw-card.mdw-outlined {
  --mdw-card-swipe-position: 1px;
}
mdw-card.mdw-dragging {
  transition: none;
}


mdw-card.mdw-states:focus,
mdw-card.mdw-states:active,
mdw-card.mdw-states:hover {
  box-shadow: var(--mdw-elevation-2);
}

mdw-card[disabled] {
  box-shadow: none;
  opacity: 0.38;
  pointer-events: none;
  background-color: var(--mdw-surface-variant);
}

mdw-card > .mdw-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* width: calc(100% + 32px); */
  /* margin-left: -16px; */
  /* margin-top: -16px; */
  /* margin-bottom: 20px; */
  overflow: hidden;
  border-radius: var(--mdw-shape-medium) var(--mdw-shape-medium) 0 0;
}

mdw-card > .mdw-card-image > img {
  width: 101%; /* fixes display issue using 101 */
}

mdw-card > .mdw-card-image.mdw-rounded {
  border-radius: var(--mdw-shape-medium);
}

mdw-card .mdw-headline,
mdw-card .mdw-headline-large {
  font-size: var(--mdw-font-size-large-title);
  font-weight: var(--mdw-font-weight-large-title);
  line-height: var(--mdw-font-line-height-large-title);
  letter-spacing: var(--mdw-font-letter-spacing-large-title);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-headline-medium {
  font-size: var(--mdw-font-size-medium-title);
  font-weight: var(--mdw-font-weight-medium-title);
  line-height: var(--mdw-font-line-height-medium-title);
  letter-spacing: var(--mdw-font-letter-spacing-medium-title);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-headline-small {
  font-size: var(--mdw-font-size-small-title);
  font-weight: var(--mdw-font-weight-small-title);
  line-height: var(--mdw-font-line-height-small-title);
  letter-spacing: var(--mdw-font-letter-spacing-small-title);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-subhead-large {
  font-size: var(--mdw-font-size-large-body);
  font-weight: var(--mdw-font-weight-large-body);
  line-height: var(--mdw-font-line-height-large-body);
  letter-spacing: var(--mdw-font-letter-spacing-large-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-subhead-medium,
mdw-card .mdw-subhead {
  font-size: var(--mdw-font-size-medium-body);
  font-weight: var(--mdw-font-weight-medium-body);
  line-height: var(--mdw-font-line-height-medium-body);
  letter-spacing: var(--mdw-font-letter-spacing-medium-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-subhead-small {
  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface--76);
}
mdw-card .mdw-supporting-text {
  margin-top: 12px;
  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-card-actions {
  display: flex;
  margin-top: 24px;
}

mdw-card .mdw-card-actions mdw-button + mdw-button {
  margin-left: 6px;
}



/* --- state layer --- */

mdw-card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--mdw-shape-medium);
}
mdw-card.mdw-states:hover::after {
  opacity: var(--mdw-state-layer-opacity-hover);
  background-color: var(--mdw-on-surface);
}
mdw-card.mdw-states:active::after {
  opacity: var(--mdw-state-layer-opacity-pressed);
  background-color: var(--mdw-on-surface);
}
mdw-card.mdw-states:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}


/* --- types --- */

mdw-card.mdw-filled {
  color: var(--mdw-on-surface-variant);
  background-color: var(--mdw-surface-variant);
  box-shadow: none;
}
mdw-card.mdw-filled.mdw-states:focus,
mdw-card.mdw-filled.mdw-states:active,
mdw-card:not(.mdw-no-hover).mdw-filled.mdw-states:hover {
  box-shadow: var(--mdw-elevation-1);
}

mdw-card.mdw-outlined {
  background-color: var(--mdw-surface);
  border: 1px solid var(--mdw-outline);
  box-shadow: none;
}



/* --- fullscreen ---- */

mdw-card > .mdw-card-content {
  position: relative;
  padding: 16px;
}

mdw-card > .mdw-card-content > .mdw-contracted {
  opacity: 1;
  transition: opacity 120ms;
}

mdw-card > .mdw-card-content > .mdw-expanded {
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: inherit;
}

mdw-card > .mdw-card-image.mdw-size-small {
  height: 60px;
  transition: height 240ms;
}

mdw-card > .mdw-card-image.mdw-size-medium {
  height: 120px;
  transition: height 240ms;
}

mdw-card > .mdw-card-image.mdw-size-large {
  height: 180px;
  transition: height 240ms;
}


.mdw-panel.mdw-open-animation-target-to-fullscreen mdw-card > .mdw-card-content > .mdw-contracted {
  opacity: 1;
  pointer-events: none;
  height: auto;
  overflow: hidden;
}

.mdw-panel.mdw-fullscreen mdw-card > .mdw-card-content > .mdw-contracted,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-content > .mdw-contracted {
  opacity: 0;
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.mdw-panel.mdw-open-animation-target-to-fullscreen mdw-card > .mdw-card-content > .mdw-expanded {
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

.mdw-panel.mdw-fullscreen mdw-card > .mdw-card-content > .mdw-expanded,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-content > .mdw-expanded {
  height: auto;
  overflow: visible;
  opacity: 1;
  pointer-events: auto;
}

.mdw-panel.mdw-fullscreen:not(.mdw-close-animation-target-to-fullscreen.mdw-run-animation) mdw-card > .mdw-card-image,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image {
  border-radius: 0;
}
.mdw-panel.mdw-fullscreen:not(.mdw-close-animation-target-to-fullscreen.mdw-run-animation) mdw-card > .mdw-card-image.mdw-rounded,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-rounded {
  border-radius: 0 0 var(--mdw-shape-medium) var(--mdw-shape-medium);
}


.mdw-panel.mdw-fullscreen mdw-card > .mdw-card-image.mdw-size-small,
.mdw-panel.mdw-fullscreen mdw-card > .mdw-card-image.mdw-size-medium,
.mdw-panel.mdw-fullscreen mdw-card > .mdw-card-image.mdw-size-large,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-size-small,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-size-medium,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-size-large {
  height: var(--mdw-img-fullscreen-height, 300px);
}

.mdw-panel.mdw-close-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-size-small,
.mdw-panel.mdw-open-animation-target-to-fullscreen mdw-card > .mdw-card-image.mdw-size-small {
  height: 60px;
}

.mdw-panel.mdw-close-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-size-medium,
.mdw-panel.mdw-open-animation-target-to-fullscreen mdw-card > .mdw-card-image.mdw-size-medium {
  height: 120px;
}

.mdw-panel.mdw-close-animation-target-to-fullscreen.mdw-run-animation mdw-card > .mdw-card-image.mdw-size-large,
.mdw-panel.mdw-open-animation-target-to-fullscreen mdw-card > .mdw-card-image.mdw-size-large {
  height: 180px;
}


mdw-card > .mdw-card-fullscreen-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  left: 16px;
  padding-left: 5px;
  padding-right: 8px;
  height: 36px;
  border-radius: 50%;
  color: var(--mdw-surface);
  text-shadow: 0 0 3px rgba(0,0,0,0.4);
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity 120ms;
}

.mdw-panel.mdw-open-animation-target-to-fullscreen mdw-card > .mdw-card-fullscreen-back {
  opacity: 0;
  pointer-events: none;
}

.mdw-panel.mdw-fullscreen:not(.mdw-close-animation-target-to-fullscreen) mdw-card > .mdw-card-fullscreen-back {
  opacity: 1;
  pointer-events: auto;
}



/* --- expanded --- */

mdw-card.mdw-expanded > .mdw-card-content > .mdw-contracted {
  height: 0;
  overflow: hidden;
}

mdw-card:not(.mdw-fullscreen) > .mdw-card-content > .mdw-expanded {
  transition: height 120ms;
}

mdw-card.mdw-expanded > .mdw-card-content > .mdw-expanded {
  opacity: 1;
  pointer-events: auto;
}

mdw-card .mdw-expander-arrow {
  position: relative;
  transform-origin: center;
  transform: rotate(0);
  transition: transform 280ms;
  user-select: none;
  cursor: pointer;
}

mdw-card.mdw-expanded .mdw-expander-arrow {
  transform: rotate(180deg);
}


/* --- actions --- */


mdw-card > mdw-card-swipe-action {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: calc(var(--mdw-card-swipe-position) * -1);
  bottom: 0;
  width: 100px;
  padding-top: 18px;
  padding-left: 18px;
  z-index: -1;
  border-radius: var(--mdw-shape-medium) 0 0 var(--mdw-shape-medium);
  box-sizing: border-box;

  background-color: var(--mdw-surface-tint--16);
  color: var(--mdw-on-surface-variant);

  transition:
    left 120ms,
    background-color 120ms;
}

mdw-card.mdw-outlined > mdw-card-swipe-action {
  top: -1px;
  bottom: -1px;
  border-left: 1px solid var(--mdw-outline);
  border-top: 1px solid var(--mdw-outline);
  border-bottom: 1px solid var(--mdw-outline);
}

mdw-card.mdw-has-swipe-action {
  border-left: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

mdw-card > mdw-card-swipe-action mdw-icon {
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

mdw-card > mdw-card-swipe-action[checked] {
  background-color: var(--mdw-surface-tint--38);
}

mdw-card > mdw-card-swipe-action[checked] mdw-icon {
  font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

mdw-card.mdw-dragging > mdw-card-swipe-action {
  transition: none;
}

mdw-card > mdw-card-swipe-action::after {
  position: absolute;
  content: '';
  top: 0;
  left: var(--mdw-card-swipe-position);
  width: 100px;
  padding-top: 18px;
  padding-left: 18px;
  bottom: 0;
  border-radius: var(--mdw-shape-medium) 0 0 var(--mdw-shape-medium);
  background-color: var(--mdw-surface);
  z-index: 1;
  box-sizing: border-box;

  transition: left 120ms;
}

mdw-card.mdw-filled > mdw-card-swipe-action::after {
  background-color: var(--mdw-surface-variant);
}

mdw-card.mdw-dragging > mdw-card-swipe-action::after {
  transition: none;
}



/* --- list --- */

mdw-card.mdw-card-list-item {
  flex-direction: row;
  height: 80px;
  overflow: hidden;
}

mdw-card.mdw-card-list-item > .mdw-card-image {
  width: 80px;
  height: 80px;
}
mdw-card.mdw-card-list-item > .mdw-card-image > img {
  width: unset;
  height: 100%;
}

mdw-card.mdw-card-list-item > .mdw-card-content {
  flex: 1;
  margin-left: 16px;
}

mdw-card.mdw-card-list-item .mdw-supporting-text,
mdw-card.mdw-card-list-item .mdw-card-actions {
  display: none;
}


/* --- orientation --- */

mdw-card.mdw-card-orientation-landscape {
  flex-direction: row;
  overflow: hidden;
}

mdw-card.mdw-card-orientation-landscape > .mdw-card-content {
  flex: 1;
  margin-left: 16px;
}

mdw-card.mdw-card-orientation-landscape > .mdw-card-image {
  /* margin-bottom: -16px; */
  aspect-ratio: 1 / 1;
  height: 100%;
  width: auto;
}

mdw-card.mdw-card-orientation-landscape > .mdw-card-image > img {
  height: inherit;
  width: auto;
}

mdw-card.mdw-card-orientation-landscape > .mdw-card-image.mdw-size-small {
  height: 80px;
  transition: none;
}

mdw-card.mdw-card-orientation-landscape > .mdw-card-image.mdw-size-medium {
  height: 140px;
  transition: none;
}

mdw-card.mdw-card-orientation-landscape > .mdw-card-image.mdw-size-large {
  height: 200px;
  transition: none;
}

mdw-card.mdw-card-orientation-landscape .mdw-card-actions {
  justify-content: end;
  width: 100%;
}
