mdw-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--mdw-shape-medium);

  box-shadow: var(--mdw-elevation-1);
  background-color: var(--mdw-surface);
  color: var(--mdw-on-surface);

  /* add spacing between cards */
  top: calc(var(--mdw-card-spacing) * -1);
  left: calc(var(--mdw-card-spacing) * -1);
  margin-top: var(--mdw-card-spacing);
  margin-left: var(--mdw-card-spacing);
  
  padding-bottom: 18px;
}


mdw-card:not(.mdw-no-states):focus,
mdw-card:not(.mdw-no-states):active,
mdw-card:not(.mdw-no-states):hover {
  box-shadow: var(--mdw-elevation-2);
}

mdw-card[disabled] {
  box-shadow: none;
  opacity: 0.38;
  pointer-events: none;
  background-color: var(--mdw-surface-variant);
}


mdw-card>.mdw-container {
  border-radius: var(--mdw-shape-medium) var(--mdw-shape-medium) 0 0;
}
mdw-card>.mdw-container-rounded {
  border-radius: var(--mdw-shape-medium);
}

mdw-card>.mdw-headline {
  margin-top: 18px;
  margin-left: 18px;
  font-size: var(--mdw-font-size-small-display);
  font-weight: var(--mdw-font-weight-small-display);
  line-height: var(--mdw-font-line-height-small-display);
  letter-spacing: var(--mdw-font-letter-spacing-small-display);
  color: var(--mdw-on-surface);
}
mdw-card > .mdw-headline-small {
  margin-top: 18px;
  margin-left: 18px;
  font-size: var(--mdw-font-size-large-title);
  font-weight: var(--mdw-font-weight-large-title);
  line-height: var(--mdw-font-line-height-large-title);
  letter-spacing: var(--mdw-font-letter-spacing-large-title);
  color: var(--mdw-on-surface);
}
mdw-card>.mdw-headline+.mdw-supporting-text,
mdw-card>.mdw-headline-small+.mdw-supporting-text {
  margin-top: 4px;
  margin-left: 18px;
}

mdw-card>.mdw-subhead {
  margin-left: 18px;
  margin-top: 10px;
  font-size: var(--mdw-font-size-medium-body);
  font-weight: var(--mdw-font-weight-medium-body);
  line-height: var(--mdw-font-line-height-medium-body);
  letter-spacing: var(--mdw-font-letter-spacing-medium-body);
  color: var(--mdw-on-surface);
}
mdw-card>.mdw-supporting-text {
  margin-left: 18px;
  margin-top: 8px;
  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface--76);
}


/* --- state layer --- */

mdw-card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--mdw-shape-medium);
}
mdw-card:not(.mdw-no-states):hover::after {
  opacity: var(--mdw-state-layer-opacity-hover);
  background-color: var(--mdw-on-surface);
}
mdw-card:not(.mdw-no-states):active::after {
  opacity: var(--mdw-state-layer-opacity-pressed);
  background-color: var(--mdw-on-surface);
}
mdw-card:not(.mdw-no-states):focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}


/* --- types --- */

mdw-card.mdw-filled {
  color: var(--mdw-on-surface-variant);
  background-color: var(--mdw-surface-variant);
  box-shadow: none;
}
mdw-card.mdw-filled:not(.mdw-no-states):focus,
mdw-card.mdw-filled:not(.mdw-no-states):active,
mdw-card:not(.mdw-no-hover).mdw-filled:not(.mdw-no-states):hover {
  box-shadow: var(--mdw-elevation-1);
}

mdw-card.mdw-outlined {
  background-color: var(--mdw-surface);
  border: 1px solid var(--mdw-outline);
  box-shadow: none;
}
