mdw-card-container,
mdw-card-container.mdw-grid {
  display: grid;
  grid-template-columns: repeat(var(--mdw-card-container-columns), 1fr);
  grid-column-gap: 8px;
  /* grid-auto-rows: minmax(80px, auto); */
}

body.mdw-mobile mdw-card-container:not(.mdw-grid),
mdw-card-container.mdw-list {
  display: flex;
  flex-direction: column;
}


mdw-card-container > mdw-card.mdw-card-grid-cell {
  height: fit-content;
}
