:host {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;

  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


:host(.primary) {
  color: var(--mdw-theme-primary);
}

:host(.secondary) {
  color: var(--mdw-theme-secondary);
}

:host(.error) {
  color: var(--mdw-theme-error);
}
