mdw-navigation-rail {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;

  background-color: var(--mdw-theme-background);
}

// body.mdw-has-navigation-drawer mdw-navigation-rail {
//   margin-left: 0;
//   transition: margin-left 0.2s linear;
// }

body.mdw-navigation-drawer-open mdw-navigation-rail {
  margin-left: -72px;
}


mdw-navigation-rail mdw-button {
  width: 48px;
  height: 48px;
  margin: 12px;
}

mdw-navigation-rail mdw-button.mdw-current-link {
  color: var(--mdw-theme-primary);
}
