/*  layout */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  height: 100vh;
  /* height: calc(100vh - 72px); */
  width: 100%;
}

nav {
  max-height: 100vh;
  overflow-y: auto;
  width: 220px;
  background-color: #364051;
  padding-top: 20px;
}

section.page-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  max-height: 100vh;
  overflow-y: auto;
}

section.body-container {
  flex: 1;
  width: 100%;
  max-width: 840px;
  padding: 0 40px;
}

@media screen and (max-width: 1084px) {
  section.body-container {
    padding: 0;
    width: 96%;
    margin: 0 auto;
  }
}

nav section {
  padding-top: 24px;
  padding-bottom: 24px;
  /* border-top: 1px solid #50545a; */
}

nav section:first-of-type {
  border-top:  none;
  padding-top: 36px;
}

nav .main-title {
  color: #7b99c7;
  display: block;
  font-size: 24px;
  padding-left: 24px;
  line-height: 25px;
}

nav .title {
  color: #5a6b86;
  display: block;
  font-size: 18px;
  padding-bottom: 12px;
  padding-left: 24px;
  /* padding-top: 40px; */
}

nav a {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  align-items: center;
  user-select: none;
  outline: none;
  border: 0;
  background: transparent;
  font-size: 0.9375rem;
  overflow: hidden;
  transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
  border-radius: 0;
  color: #b3b3b3;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;

  width: 100%;
  line-height: 18px;
  padding: 12px 24px;
}

nav expander-content a {
  padding-left: 36px;
}

nav a.active {
  color: #69ce7d;
  font-weight: 500;
}

nav a:hover {
  background-color: rgba(158,158,158,0.2);
}

header {
  position: fixed;
  box-sizing: border-box;
  top: 0;
  left: 220px;
  right: 0;
  padding-left: 12px;
  padding-right: 12px;
  height: 54px;
  background: #fff;
  color: #202020;
  min-height: 56px;
  z-index: 61;
  overflow: hidden;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.09), 0 0 2px 2px rgba(0,0,0,.098), 0 0 5px 1px rgba(0,0,0,.084);
}


header h2 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 52px;
}

header .subtext {
  font-size: 0.875rem;
  float: right;
  line-height: 55px;
}

header .version {
  line-height: 55px;
  vertical-align: top;
  padding-left: 4px;
  color: #5e8dff;
  font-weight: bold;
}

header .version a {
  line-height: 55px;
  vertical-align: top;
  padding-left: 4px;
  color: #5e8dff;
  font-weight: bold;
  text-decoration: none;
}



li a {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: lighter;
  color: #7499cb;
  cursor: pointer;
  text-decoration: none;
}

.page-article {
  width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 80px;
}

.into-article {
  padding: 24px;
}

.sub-article {
  padding: 24px;
}

.column-article {
  padding: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.spacer {
  padding-top: 36px;
}

flex {
  display: flex;
  flex: 1;
}

.disclaimer-container {
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  border-left: 4px solid #ffab40;
  background-color: #ffcdd2;
  border-left-color: #ff5252;
}

.direction {
  font-size: 0.875rem;
  margin: 1.5em 0;
  padding: 8px 16px;
  overflow: hidden;
  background-color: #EEE;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

.showcase {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  margin: 24px 0 78px;
  background-color: #f2f2f2;
}
