html {
  color-scheme: light;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  display: inline-flex;
  flex-direction: column;
}

pre {
  display: contents;
  margin: 0;
}

mdw-card > pre:first-of-type > code {
  margin-top: 8px;
}

pre > code {
  width: calc(100% - 16px);
}

mdw-card > pre:last-of-type > code {
  border-radius: 0 0 var(--mdw-shape-medium) var(--mdw-shape-medium);
}

mdw-card .example {
  margin-top: 18px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  width: 0;
  white-space: nowrap;
}

mdw-card.header-card {
  margin-top: 16px;
  margin-bottom: 48px;
  padding-bottom: 8px;
  box-shadow: none;
}

mdw-card.header-card > .mdw-headline {
  font-size: 32px;
}

page-content > section > mdw-card {
  margin-bottom: 36px;
}


.code-collapse-top code {
  margin-top: 0;
  padding-top: 0;
}

.code-collapse-top code::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: -20px;
}

.code-collapse-bottom code {
  margin-bottom: 0;
  padding-bottom: 0;
}

.code-collapse-bottom code::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-bottom: -20px;
}

.code-collapse code {
  margin-top: 0;
  padding-top: 0;

  margin-bottom: 0;
  padding-bottom: 0;
}

.code-collapse code::before {
  content: '';
  display: block;
  height: 0;
  width: 0;
  margin-top: -20px;
  margin-bottom: -20px;
}


.mdw-supporting-text + .example {
  margin-top: 32px;
}
