:host {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  padding: 0 12px;
  border: 1px solid var(--mdw-outline);
  border-radius: var(--mdw-shape-small);
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  user-select: none;

  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);

  color: var(--mdw-on-surface);
}

:host .check,
:host .clear {
  display: none;
  position: relative;
  color: var(--mdw-primary);
  width: 18px;
  height: 18px;
  align-self: center;
}

:host .check {
  margin-top: -6px;
  margin-right: 8px;
  margin-left: -6px;
  pointer-events: none;
}

:host([checked]) .check {
  display: block;
}

:host .clear {
  margin-left: 4px;
  margin-right: -4px;
  cursor: pointer;
}

:host .clear:after {
  position: absolute;
  content: '';
  top: -1px;
  left: -1px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
}

:host(.mdw-input) .clear {
  display: block;
}

:host ::slotted(mdw-icon) {
  margin-top: -2px;
  margin-right: 5px;
  margin-left: -5px;
  width: var(--mdw-font-size-icon-small) !important;
  height: var(--mdw-font-size-icon-small) !important;
  font-size: var(--mdw-font-size-icon-small) !important;
  user-select: none;
}

:host(.mdw-filter[checked]) ::slotted(mdw-icon),
:host(.mdw-filter-menu[checked]) ::slotted(mdw-icon) {
  display: none !important;
}


/* state layer */
:host::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--mdw-shape-small);
  background-color: var(--mdw-on-surface);
  opacity: 0;
  pointer-events: none;
}


@media (hover: hover) {
  :host(:hover)::after {
    opacity: var(--mdw-state-layer-opacity-hover);
  }

  :host .clear:hover::after {
    background-color: var(--mdw-on-surface--12);
  }
}

:host(:focus)::after {
  opacity: var(--mdw-state-layer-opacity-hover);
}


/* --- Ripple --- */

.ripple {
  overflow: hidden;
  border-radius: inherit;
  transform: translateZ(0);
  /* fixes bug on ios safari */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
}

.ripple > .mdw-ripple-element {
  background-color: var(--mdw-on-surface--10);
  border-radius: 50%;
}


/* --- input chip --- */
:host input {
  display: none;
  /* this is needed for type time on ios */
  box-sizing: border-box;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;

  text-decoration: inherit;
  text-transform: inherit;
  font-size: var(--mdw-font-size-large-label);
  font-weight: var(--mdw-font-weight-large-label);
  letter-spacing: var(--mdw-font-letter-spacing-large-label);
  color: var(--mdw-on-surface);
  caret-color: var(--mdw-primary);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

:host(.mdw-edit) input {
 display: block;
}

:host(.mdw-edit)::after,
:host(.mdw-edit) .ripple,
:host(.mdw-edit) .clear,
:host(.mdw-edit) .value-display,
:host(.mdw-edit) slot {
  display: none;
}


:host(.mdw-edit) {
  border: none;
}

