.mdw-time-picker-panel > .mdw-panel-content {
  width: 200px;
  height: 262px;
  padding: 8px 0;
  overflow: hidden;
  box-sizing: border-box;

  border-radius: var(--mdw-shape-extra-small);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-2);
}

body.mdw-mobile .mdw-time-picker-panel > .mdw-panel-content {
  width: 220px;
  height: 206px;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;

  border-radius: var(--mdw-shape-extra-small);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-2);
}
