mdw-dialog {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 280px;
  max-width: 560px;
  max-height: 560px;
  padding: 24px;

  border-radius: var(--mdw-shape-extra-large);
  background: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-3);
}

mdw-dialog > .mdw-content {
  flex: 1;
  font-size: var(--mdw-font-size-medium-body);
  font-weight: var(--mdw-font-weight-medium-body);
  line-height: var(--mdw-font-line-height-medium-body);
  letter-spacing: var(--mdw-font-letter-spacing-medium-body);
  color: var(--mdw-on-surface-variant);
}

mdw-dialog > .mdw-actions {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 24px;
}

mdw-dialog > .mdw-header {
  margin-bottom: 16px;
  font-size: var(--mdw-font-size-small-headline);
  font-weight: var(--mdw-font-weight-small-headline);
  line-height: var(--mdw-font-line-height-small-headline);
  letter-spacing: var(--mdw-font-letter-spacing-small-headline);
  color: var(--mdw-on-surface);
}


/* animations */

.mdw-panel.mdw-open-animation mdw-dialog > .mdw-actions {
  margin-top: -28px;
  transition: margin-top 280ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}
.mdw-panel.mdw-open-animation.mdw-run-animation mdw-dialog > .mdw-actions {
  margin-top: 24px;
}

.mdw-panel.mdw-close-animation mdw-dialog > .mdw-actions {
  margin-top: 24px;
  transition: margin-top 140ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}
.mdw-panel.mdw-close-animation.mdw-run-animation mdw-dialog > .mdw-actions {
  margin-top: -18px;
}



/* --- fullscreen --- */

.mdw-panel.mdw-fullscreen mdw-dialog,
mdw-dialog.mdw-fullscreen {
  padding: 0;
}

.mdw-panel.mdw-fullscreen mdw-dialog > .mdw-content,
mdw-dialog.mdw-fullscreen > .mdw-content {
  overflow-y: auto;
}

.mdw-panel.mdw-fullscreen mdw-dialog > .mdw-header,
mdw-dialog.mdw-fullscreen > .mdw-header {
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 016px;
  box-sizing: border-box;
  z-index: 9;
  background-color: var(--mdw-surface);
  border-radius: var(--mdw-shape-extra-large) var(--mdw-shape-extra-large) 0 0;
}

.mdw-panel.mdw-fullscreen mdw-dialog > .mdw-header::before,
mdw-dialog.mdw-fullscreen > .mdw-header::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: none;
  transition: background-color 80ms linear;
  border-radius: var(--mdw-shape-extra-large) var(--mdw-shape-extra-large) 0 0;
}

.mdw-panel.mdw-fullscreen mdw-dialog:not(.mdw-no-states).mdw-scrolled > .mdw-header::before,
mdw-dialog.mdw-fullscreen:not(.mdw-no-states).mdw-scrolled > .mdw-header::before {
  background-color: var(--mdw-surface-tint--6);
}

.mdw-panel.mdw-fullscreen mdw-dialog > .mdw-header > mdw-icon,
mdw-dialog.mdw-fullscreen > .mdw-header > mdw-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.mdw-panel.mdw-fullscreen mdw-dialog > .mdw-header > .mdw-headline,
mdw-dialog.mdw-fullscreen > .mdw-header > .mdw-headline {
  flex: 1;
  margin-left: 16px;
  font-size: var(--mdw-font-size-large-title);
  font-weight: var(--mdw-font-weight-large-title);
  line-height: var(--mdw-font-line-height-large-title);
  letter-spacing: var(--mdw-font-letter-spacing-large-title);
  color: var(--mdw-on-surface);
}

.mdw-panel.mdw-fullscreen mdw-dialog > .mdw-content,
mdw-dialog.mdw-fullscreen > .mdw-content {
  padding: 16px;
}


@media only screen and (max-width: 600px) {
  /* unset all above css for basic */
  .mdw-panel.mdw-open-animation mdw-dialog > .mdw-actions,
  .mdw-panel.mdw-open-animation.mdw-run-animation mdw-dialog > .mdw-actions,
  .mdw-panel.mdw-close-animation mdw-dialog > .mdw-actions,
  .mdw-panel.mdw-close-animation.mdw-run-animation mdw-dialog > .mdw-actions {
    all: none;
  }

  .mdw-panel.mdw-fullscreen mdw-dialog,
  mdw-dialog.mdw-fullscreen {
    min-width: unset;
    max-width: unset;
    max-height: unset;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;

    border-radius: unset;
    box-shadow: unset;
  }

  .mdw-panel.mdw-fullscreen mdw-dialog > .mdw-header,
  mdw-dialog.mdw-fullscreen > .mdw-header {
    height: 56px;
    border-radius: none;
  }

  .mdw-panel.mdw-fullscreen mdw-dialog > .mdw-header::before,
  mdw-dialog.mdw-fullscreen > .mdw-header::before {
    border-radius: none;
  }
}
