@media screen and (max-width: 1084px) {
  mdw-content {
    margin: 0 auto;
    padding: 0 6px;
  }
}


@media screen and (min-width: 720px) {
  mdw-banner {
    flex-direction: row;
    align-items: center;
  }

  mdw-banner > div {
    padding: 0;
    padding-left: 24px;
    padding-right: 90px;
  }
}
