html {
  font-family: 'Roboto Flex', Roboto, sans-serif;
  font-size: 16px;
  height: 100%;
}

input {
  font-family: 'Roboto Flex', Roboto, sans-serif;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;

  background-color: var(--mdw-surface);
}

body mdw-page-content,
body page-content {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  width: 100%;
  padding-left: 12px;
}

a:-webkit-any-link:active {
  color: inherit;
}


.mdw-text-length {
  position: fixed;
  opacity: 0;
  user-select: none;
  pointer-events: none;
}
