html {
  font-family: 'Roboto Flex', Roboto, sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;

  background-color: var(--mdw-surface);
}

body mdw-page-content,
body page-content {
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-left: 12px;
}

a:-webkit-any-link:active {
  color: inherit;
}
