:root {
  --mdw-theme-elevation-1-shadow: 0 2px 1px -1px rgba(0,0,0,.2),
                                      0 1px 1px 0 rgba(0,0,0,.14),
                                      0 1px 3px 0 rgba(0,0,0,.12);
}

.mdw-elevation-1 {
  background: rgba(255,255,255,0.05);
  box-shadow: var(--mdw-theme-elevation-1-shadow);
}

.mdw-elevation-1--shadow {
  box-shadow: var(--mdw-theme-elevation-1-shadow);
}

.mdw-elevation-2 {
  background: rgba(255,255,255,0.07);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}

.mdw-elevation-2--shadow {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
              0 2px 2px 0 rgba(0,0,0,.14),
              0 1px 5px 0 rgba(0,0,0,.12);
}


.mdw-elevation-3 {
  background: rgba(255,255,255,0.08);
  box-shadow: 0 3px 3px -2px rgba(0,0,0,.2),
              0 3px 4px 0 rgba(0,0,0,.14),
              0 1px 8px 0 rgba(0,0,0,.12);
}

.mdw-elevation-4 {
  background: rgba(255,255,255,0.09);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
              0px 4px 5px 0px rgba(0, 0, 0, 0.14),
              0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-5 {
  background: rgba(255,255,255,0.10);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 5px 8px 0px rgba(0, 0, 0, 0.14),
              0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-6 {
  background: rgba(255,255,255,0.11);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
              0px 6px 10px 0px rgba(0, 0, 0, 0.14),
              0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-7 {
  background: rgba(255,255,255,0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2),
              0px 7px 10px 1px rgba(0, 0, 0, 0.14),
              0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-8 {
  background: rgba(255,255,255,0.13);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
              0px 8px 10px 1px rgba(0, 0, 0, 0.14),
              0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-9 {
  background: rgba(255,255,255,0.14);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
              0px 9px 12px 1px rgba(0, 0, 0, 0.14),
              0px 3px 16px 2px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-10 {
  background: rgba(255,255,255,0.15);
  box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2),
              0px 10px 14px 1px rgba(0, 0, 0, 0.14),
              0px 4px 18px 3px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-11 {
  background: rgba(255,255,255,0.16);
  box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2),
              0px 11px 15px 1px rgba(0, 0, 0, 0.14),
              0px 4px 20px 3px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-12 {
  background: rgba(255,255,255,0.17);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
              0px 12px 17px 2px rgba(0, 0, 0, 0.14),
              0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-13 {
  background: rgba(255,255,255,0.18);
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.2),
              0px 13px 19px 2px rgba(0, 0, 0, 0.14),
              0px 5px 24px 4px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-14 {
  background: rgba(255,255,255,0.19);
  box-shadow: 0px 7px 9px -4px rgba(0, 0, 0, 0.2),
              0px 14px 21px 2px rgba(0, 0, 0, 0.14),
              0px 5px 26px 4px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-15 {
  background: rgba(255,255,255,0.20);
  box-shadow: 0px 8px 9px -5px rgba(0, 0, 0, 0.2),
              0px 15px 22px 2px rgba(0, 0, 0, 0.14),
              0px 6px 28px 5px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-16 {
  background: rgba(255,255,255,0.21);
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2),
              0px 16px 24px 2px rgba(0, 0, 0, 0.14),
              0px 6px 30px 5px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-17 {
  background: rgba(255,255,255,0.22);
  box-shadow: 0px 8px 11px -5px rgba(0, 0, 0, 0.2),
              0px 17px 26px 2px rgba(0, 0, 0, 0.14),
              0px 6px 32px 5px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-18 {
  background: rgba(255,255,255,0.23);
  box-shadow: 0px 9px 11px -5px rgba(0, 0, 0, 0.2),
              0px 18px 28px 2px rgba(0, 0, 0, 0.14),
              0px 7px 34px 6px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-19 {
  background: rgba(255,255,255,0.24);
  box-shadow: 0px 9px 12px -6px rgba(0, 0, 0, 0.2),
              0px 19px 29px 2px rgba(0, 0, 0, 0.14),
              0px 7px 36px 6px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-20 {
  background: rgba(255,255,255,0.25);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
              0px 20px 31px 3px rgba(0, 0, 0, 0.14),
              0px 8px 38px 7px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-21 {
  background: rgba(255,255,255,0.26);
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.2),
              0px 21px 33px 3px rgba(0, 0, 0, 0.14),
              0px 8px 40px 7px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-22 {
  background: rgba(255,255,255,0.27);
  box-shadow: 0px 10px 14px -6px rgba(0, 0, 0, 0.2),
              0px 22px 35px 3px rgba(0, 0, 0, 0.14),
              0px 8px 42px 7px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-23 {
  background: rgba(255,255,255,0.28);
  box-shadow: 0px 11px 14px -7px rgba(0, 0, 0, 0.2),
              0px 23px 36px 3px rgba(0, 0, 0, 0.14),
              0px 9px 44px 8px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-24 {
  background: rgba(255,255,255,0.29);
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
              0px 24px 38px 3px rgba(0, 0, 0, 0.14),
              0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.mdw-elevation-transition {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
}
