h1, h2, h3, h4, h5, h6, .mdw-headline1, .mdw-headline2, .mdw-headline3, .mdw-headline4, .mdw-headline5, .mdw-headline6,
p, .mdw-subtitle, .mdw-subtitle2, .mdw-body1, .mdw-body2, caption, .mdw-caption, button, .mdw-description {
  color: var(--mdw-theme-text--on-background);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6,
.mdw-headline1, .mdw-headline2, .mdw-headline3, .mdw-headline4, .mdw-headline5, .mdw-headline6 {
  font-weight: 300;
  margin: 0 0 8px;
}

h1,
.mdw-headline1 {
  font-size: 6rem;
  line-height: 1.2;
  letter-spacing: -1.5;
  text-decoration: inherit;
  text-transform: inherit;
}

h2,
.mdw-headline2 {
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.5;
  text-decoration: inherit;
  text-transform: inherit;
}

h3,
.mdw-headline3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.2;
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit;
}

h4,
.mdw-headline4 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.2;
  letter-spacing: 0.25;
  text-decoration: inherit;
  text-transform: inherit;
}

h5,
.mdw-headline5 {
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: inherit;
  text-transform: inherit;
}

h6,
.mdw-headline6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 2rem;
  letter-spacing: .0125em;
  text-decoration: inherit;
  text-transform: inherit;
}

p {
  margin: 0 0 16px;
  font-size: 1rem;
  letter-spacing: 0.5;
}

.mdw-subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.15;
  text-decoration: inherit;
  text-transform: inherit;
}

.mdw-subtitle2 {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .0071428571em;
  text-decoration: inherit;
  text-transform: inherit;
}


.mdw-body1 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: .03125em;
  text-decoration: inherit;
  text-transform: inherit;
}

.mdw-body2,
.mdw-description {
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0178571429em;
  text-decoration: inherit;
  text-transform: inherit;
}

caption,
.mdw-caption {
  font-size: .75rem;
  line-height: 1.25rem;
  font-weight: 400;
  letter-spacing: .0333333333em;
  text-decoration: inherit;
  text-transform: inherit;
}

button {
  font-size: .875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: .0892857143em;
  text-decoration: none;
  text-transform: uppercase;
}
