[flex] {
  flex: 1;
}

[flex="1"] {
  flex: 1;
}

[flex=".25"],
[flex="0.25"] {
  flex: .25;
}

[flex=".33"],
[flex="0.33"] {
  flex: .33;
}

[flex=".5"],
[flex="0.5"] {
  flex: .5;
}

[flex=".66"],
[flex="0.66"] {
  flex: .66;
}

[flex=".75"],
[flex="0.75"] {
  flex: .75;
}

[row] {
  display: flex;
  flex-direction: row;
}

[column] {
  display: flex;
  flex-direction: column;
}
