.mdw-panel {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
}


/* --- basic --- */

.mdw-panel {
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.mdw-panel:not(.mdw-lock):not(.mdw-open-animation):not(.mdw-open-animation-target):not(.mdw-open-animation-target-to-fullscreen):not(.mdw-close-animation) > .mdw-panel-content {
  pointer-events: all;
}

.mdw-panel.mdw-backdrop {
  opacity: 0;
  pointer-events: unset;
  background-color: var(--mdw-scrim--16);
  transition: opacity 220ms;
}

.mdw-panel.mdw-backdrop.mdw-open-animation.mdw-run-animation,
.mdw-panel.mdw-backdrop.mdw-open-animation-target.mdw-run-animation,
.mdw-panel.mdw-backdrop.mdw-open-animation-target-to-fullscreen.mdw-run-animation,
.mdw-panel.mdw-backdrop.mdw-showing {
  opacity: 1;
}

.mdw-panel > .mdw-panel-content.mdw-target-element {
  position: fixed;
}


/* animate open */

.mdw-panel.mdw-open-animation-target,
.mdw-panel.mdw-open-animation {
  pointer-events: none;
  opacity: 0;
  transition: opacity 120ms linear;
}
.mdw-panel.mdw-open-animation-target.mdw-run-animation,
.mdw-panel.mdw-open-animation.mdw-run-animation {
  opacity: 1;
}

.mdw-panel.mdw-open-animation:not(.mdw-animation-scale) > .mdw-panel-content {
  transform: translateY(-120px);
  transition: transform 280ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}
.mdw-panel.mdw-open-animation.mdw-run-animation:not(.mdw-animation-scale) > .mdw-panel-content {
  transform: translateY(0);
}

.mdw-panel.mdw-open-animation.mdw-animation-scale > .mdw-panel-content {
  transform: scale(0.9);
  transition: transform 380ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}
.mdw-panel.mdw-open-animation.mdw-run-animation.mdw-animation-scale > .mdw-panel-content {
  transform: scale(1);
}

.mdw-panel.mdw-open-animation-target > .mdw-panel-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 140ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}


/* animate close */

.mdw-panel.mdw-close-animation {
  pointer-events: none;
  transition: opacity 120ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}
.mdw-panel.mdw-close-animation.mdw-run-animation {
  opacity: 0;
}

.mdw-panel.mdw-close-animation:not(.mdw-animation-scale) > .mdw-panel-content:not(.mdw-target-element) {
  transform: translateY(0);
  transition: transform 140ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}
.mdw-panel.mdw-close-animation.mdw-run-animation:not(.mdw-animation-scale) > .mdw-panel-content:not(.mdw-target-element) {
  transform: translateY(-60px);
}

.mdw-panel.mdw-close-animation.mdw-animation-scale > .mdw-panel-content:not(.mdw-target-element) {
  transform: scale(1);
  transition: transform 280ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}
.mdw-panel.mdw-close-animation.mdw-run-animation.mdw-animation-scale > .mdw-panel-content:not(.mdw-target-element) {
  transform: scale(0.9);
}

.mdw-panel.mdw-close-animation > .mdw-panel-content.mdw-target-element {
  overflow: hidden;
  transition: max-height 140ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}


/* --- panel to fullscreen --- */
.mdw-panel.mdw-open-animation-target-to-fullscreen > .mdw-panel-content {
  overflow: hidden;
  opacity: 0;
}

.mdw-panel.mdw-fullscreen.mdw-close-animation-target-to-fullscreen > .mdw-panel-content {
  overflow: hidden;
}

.mdw-panel.mdw-close-animation-target-to-fullscreen.mdw-run-animation > .mdw-panel-content,
.mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation > .mdw-panel-content {
  opacity: 1;
  transition:
    top 320ms,
    left 320ms,
    width 320ms,
    height 320ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}


/* --- fullscreen --- */

@media only screen and (min-width: 601px) {
  .mdw-panel.mdw-fullscreen > .mdw-panel-content {
    max-width: 560px;
    max-height: 80%;
    overflow: auto;
    transform: translate(0, 0);
    transition-timing-function: linear;
  }

  .mdw-panel.mdw-fullscreen.mdw-run-animation > .mdw-panel-content {
    overflow: hidden;
  }


  .mdw-panel.mdw-open-animation-target-to-fullscreen.mdw-run-animation > .mdw-panel-content {
    animation: mdw-card-fullscreen-open 220ms;
  }

  .mdw-panel.mdw-close-animation-target-to-fullscreen.mdw-run-animation > .mdw-panel-content {
    opacity: 0;
    animation: mdw-card-fullscreen-close 220ms;
  }
  
  @keyframes mdw-card-fullscreen-open {
    0% {
      opacity: 0;
    }

    70%,
    100% {
      opacity: 1;
    }
  }

  @keyframes mdw-card-fullscreen-close {
    0% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 600px) {
  /* unset all above css for basic */
  .mdw-panel.mdw-open-animation,
  .mdw-panel.mdw-open-animation.mdw-run-animation,
  .mdw-panel.mdw-open-animation > .mdw-panel-content,
  .mdw-panel.mdw-open-animation.mdw-run-animation > .mdw-panel-content,
  .mdw-panel.mdw-close-animation,
  .mdw-panel.mdw-close-animation.mdw-run-animation,
  .mdw-panel.mdw-close-animation > .mdw-panel-content,
  .mdw-panel.mdw-close-animation.mdw-run-animation > .mdw-panel-content {
    all: none;
  }

  .mdw-panel.mdw-fullscreen > .mdw-panel-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  /* animate open */

  .mdw-panel.mdw-fullscreen.mdw-open-animation > .mdw-panel-content {
    transform: translateY(100%);
    transition: transform 320ms;
    transition-timing-function: var(--mdw-transition-expand-in);
  }
  .mdw-panel.mdw-fullscreen.mdw-open-animation.mdw-run-animation > .mdw-panel-content {
    transform: translateY(0);
  }


  /* animate close */

  .mdw-panel.mdw-fullscreen.mdw-close-animation > .mdw-panel-content {
    transform: translateY(0);
    transition: transform 180ms;
    transition-timing-function: var(--mdw-transition-expand-out);
  }
  .mdw-panel.mdw-fullscreen.mdw-close-animation.mdw-run-animation > .mdw-panel-content {
    transform: translateY(100%);
  }
}
