mdw-top-app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  padding: 0 16px;
  z-index: 9;

  transition: top 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
  background-color: var(--mdw-surface);
}

mdw-top-app-bar > mdw-navigation-button {
  margin-left: -8px;
}

mdw-top-app-bar:not(.mdw-medium):not(.mdw-large).mdw-auto-hide.mdw-hide {
  top: -64px;
  transition: top 800ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

mdw-top-app-bar:not(.mdw-mobile-only) + page-content::before,
mdw-top-app-bar:not(.mdw-mobile-only) + mdw-navigation + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-only + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-only + mdw-navigation + page-content::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
}

body:not(.mdw-mobile) mdw-top-app-bar.mdw-mobile-only {
  display: none;
}

body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide + mdw-navigation + page-content::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}

body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide {
  display: none;
}

mdw-top-app-bar::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  background-color: none;
  transition: background-color 80ms linear;
}

mdw-top-app-bar:not(.mdw-no-states).mdw-medium.mdw-scrolled::before,
mdw-top-app-bar:not(.mdw-no-states).mdw-large.mdw-scrolled::before,
mdw-top-app-bar:not(.mdw-no-states):not(.mdw-auto-hide).mdw-scrolled::before {
  background-color: var(--mdw-surface-tint--6);
}

mdw-top-app-bar > .mdw-headline {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--mdw-font-size-large-title);
  font-weight: var(--mdw-font-weight-large-title);
  line-height: var(--mdw-font-line-height-large-title);
  letter-spacing: var(--mdw-font-letter-spacing-large-title);
  color: var(--mdw-on-surface);
}

mdw-top-app-bar.mdw-center-aligned > .mdw-headline {
  text-align: center;
}

mdw-top-app-bar mdw-icon {
  font-size: 29px;
  width: 29px;
  height: 29px;
}

mdw-top-app-bar:not(.mdw-center-aligned) > mdw-navigation-button + .mdw-headline,
mdw-top-app-bar:not(.mdw-center-aligned) > mdw-icon + .mdw-headline {
  margin-left: 16px;
}



/* --- medium --- */

mdw-top-app-bar.mdw-medium {
  align-items: start;
  padding-top: 20px;
  height: 112px;

  transition: height 180ms, margin-left 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

mdw-top-app-bar.mdw-medium > .mdw-headline {
  font-size: var(--mdw-font-size-small-headline);
  font-weight: var(--mdw-font-weight-small-headline);
  line-height: var(--mdw-font-line-height-small-headline);
  letter-spacing: var(--mdw-font-letter-spacing-small-headline);

  margin-top: 44px;
  transform: translateX(-49px);

  transition: margin-top 160ms, transform 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

mdw-top-app-bar.mdw-medium > mdw-navigation-button {
  margin-top: -8px;
}

mdw-top-app-bar.mdw-medium.mdw-auto-hide.mdw-hide {
  height: 64px;
}

mdw-top-app-bar.mdw-medium.mdw-auto-hide.mdw-hide > .mdw-headline {
  margin-top: -4px;
  transform: translateX(0);

  transition: margin-top 400ms, transform 280ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

mdw-top-app-bar:not(.mdw-mobile-only).mdw-medium + page-content::before,
mdw-top-app-bar:not(.mdw-mobile-only).mdw-medium + mdw-navigation + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-only.mdw-medium + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-only.mdw-medium + mdw-navigation + page-content::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 112px;
}

body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide.mdw-medium + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide.mdw-medium + mdw-navigation + page-content::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}



/* --- large --- */

mdw-top-app-bar.mdw-large {
  align-items: start;
  padding-top: 20px;
  height: 152px;

  transition: height 180ms, margin-left 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

mdw-top-app-bar.mdw-large > .mdw-headline {
  font-size: var(--mdw-font-size-medium-headline);
  font-weight: var(--mdw-font-weight-medium-headline);
  line-height: var(--mdw-font-line-height-medium-headline);
  letter-spacing: var(--mdw-font-letter-spacing-medium-headline);

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: unset;
  align-self: end;
  margin-bottom: 16px;
  transform: translateX(-49px);

  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  transition: margin-bottom 160ms, transform 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

mdw-top-app-bar.mdw-large.mdw-auto-hide.mdw-hide > .mdw-headline {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-self: end;
  margin-bottom: 16px;
  transform: translateX(-49px);

  display: block;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;

  transition: margin-bottom 160ms, transform 180ms;
  transition-timing-function: var(--mdw-transition-expand-out);
}

mdw-top-app-bar.mdw-large > mdw-navigation-button {
  margin-top: -6px;
}

mdw-top-app-bar.mdw-large.mdw-auto-hide.mdw-hide {
  height: 64px;
}

mdw-top-app-bar.mdw-large.mdw-auto-hide.mdw-hide > .mdw-headline {
  margin-bottom: 12px;
  transform: translateX(0);

  transition: margin-bottom 400ms, transform 280ms;
  transition-timing-function: var(--mdw-transition-expand-in);
}

mdw-top-app-bar:not(.mdw-mobile-only).mdw-large + page-content::before,
mdw-top-app-bar:not(.mdw-mobile-only).mdw-large + mdw-navigation + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-only.mdw-large + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-only.mdw-large + mdw-navigation + page-content::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 152px;
}

body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide.mdw-large + page-content::before,
body.mdw-mobile mdw-top-app-bar.mdw-mobile-hide.mdw-large + mdw-navigation + page-content::before {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}
