mdw-sheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}


mdw-sheet[mdw-modal] {
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: rgba(0,0,0,0.2);
  pointer-events: auto;
}

mdw-sheet.mdw-closed[mdw-modal] {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

mdw-sheet.mdw-closed {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}



/* sheet content */

mdw-sheet-content {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/* sheet header */

/* mdw-sheet.mdw-closed mdw-sheet-header {
  display: none;
} */

mdw-sheet.mdw-closed mdw-sheet-header,
mdw-sheet:not(.mdw-full-screen) mdw-sheet-header {
  display: none;
}

mdw-sheet-header {
  opacity: 0.3;
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  top: 0;
  z-index: 1;

  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
              0 4px 5px 0 rgba(0,0,0,.14),
              0 1px 10px 0 rgba(0,0,0,.12);

  background-color: var(--mdw-theme-surface);
  color: var(--mdw-theme-text--primary--on-background);
}


/* icons */
mdw-sheet-header mdw-sheet-title {
  font-size: 20px;
}
