:host {
  display: block;
  height: 56px;
  z-index: 1;
}

:host .mdw-sheet-header-fullscreen {
  opacity: 0;
  pointer-events: none;
  display: inline-flex;
  flex: 1 1 auto;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  z-index: 1;
  background-color: var(--mdw-theme-background);
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
              0 4px 5px 0 rgba(0,0,0,.14),
              0 1px 10px 0 rgba(0,0,0,.12);
}

:host(.mdw-show-fullscreen) .mdw-sheet-header-fullscreen {
  opacity: 1;
  pointer-events: all;
  position: relative;
}

.mdw-sheet-header-drag-icon {
  display: none;
  opacity: 1;
  width: 12%;
  height: 4px;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  top: 62px;
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #DDD;
}

:host(.mdw-sheet-header-draggable) .mdw-sheet-header-drag-icon {
  display: block;
}

:host(.mdw-show-fullscreen.mdw-sheet-header-draggable) .mdw-sheet-header-drag-icon {
  opacity: 0;
}



/* collapsed header */

.mdw-sheet-header-container {
  display: flex;
  opacity: 1;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  position: absolute;
  top: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: var(--mdw-theme-primary);
  color: var(--mdw-theme-text--primary);
}

:host(.mdw-shaped) .mdw-sheet-header-container {
  border-radius: 8px 8px 0 0;
}

:host(.mdw-sheet-disable-collapsed-header) .mdw-sheet-header-container {
  display: none;
}

:host(.mdw-show-fullscreen) .mdw-sheet-header-container {
  opacity: 0;
  pointer-events: none;
}

:host(.mdw-hide-collapsed-header) .mdw-sheet-header-container {
  display: none;
}

:host(.mdw-two-line) .mdw-sheet-header-fullscreen,
:host(.mdw-two-line) .mdw-sheet-header-container {
  height: 72px;
}

:host(.mdw-three-line) .mdw-sheet-header-fullscreen,
:host(.mdw-three-line) .mdw-sheet-header-container {
  height: 88px;
}

:host(.mdw-two-line.mdw-shaped) .mdw-sheet-header-fullscreen,
:host(.mdw-two-line.mdw-shaped) .mdw-sheet-header-container {
  border-radius: 10px 10px 0 0;
}

:host(.mdw-three-line.mdw-shaped) .mdw-sheet-header-fullscreen,
:host(.mdw-three-line.mdw-shaped) .mdw-sheet-header-container {
  border-radius: 12px 12px 0 0;
}

:host(.mdw-white) .mdw-sheet-header-container {
  background-color: white;
  color: var(--mdw-theme-text--primary--on);
  border-bottom: 1px solid var(--mdw-theme-divider--dark);
}

/* sections */

section {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  padding: 8px 12px;
  z-index: 1;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

section[align="start"] {
  align-items: flex-start;
  order: -1;
}

section + section,
section[align="end"] {
  align-items: flex-end;
  order: 1;
}


/* text */
section .mdw-title {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .0125em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

section .mdw-subtitle {
  font-size: 15px;
  letter-spacing: .0125em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

section .mdw-detail-text {
  font-size: 12px;
  letter-spacing: .0125em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}
