:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  pointer-events: none;
}

/* modal styling */
:host([mdw-modal]) {
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: rgba(0,0,0,0.2);
  pointer-events: auto;
}

:host(.mdw-closed[mdw-modal]) {
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
}

/* positioning */
.sheet-abs {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

/* content */
.sheet-container {
  position: relative;
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #FFF;
  pointer-events: auto;

  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
              0 8px 10px 1px rgba(0,0,0,.14),
              0 3px 14px 2px rgba(0,0,0,.12);
}

:host(.mdw-closed) .sheet-container{
  transform: translateY(100%);
}
