.mdw-date-picker-panel > .mdw-panel-content {
  width: 328px;
  height: 428px;
  padding: 12px;
  padding-top: 20px;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--mdw-shape-large);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-3);
}

body.mdw-mobile .mdw-date-picker-panel > .mdw-panel-content {
  width: 328px;
  height: 512px;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: var(--mdw-shape-large);
  box-shadow: var(--mdw-elevation-3);
  background-color: var(--mdw-surface);
}
