.mdw-date-picker-backdrop:not(.mdw-hide) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 7;
  background-color: rgba(0,0,0,0.36);
}

mdw-panel.mdw-date-picker-panel.mdw-open {
  display: flex;
  max-height: calc(100% - 32px);
}

.mdw-date-picker--container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;

  min-width: 320px;
}

.mdw-date-picker--header {
  padding: 28px 24px 20px 24px;
  background-color: var(--mdw-theme-primary);
  color: var(--mdw-theme-text--on-primary);
}

.mdw-date-picker--body {
  padding-top: 16px;
  background: var(--mdw-theme-background_white);
}


.mdw-date-picker--header-title {
  font-size: 14px;
  padding-bottom: 32px;
}

.mdw-date-picker--header-date {
  font-size: 36px;
}

.mdw-date-picker--body-year-view-button {
  margin-left: 24px;
  position: relative;
  padding-right: 28px;
  cursor: pointer;
  color: var(--mdw-theme-text--body);
}

.mdw-date-picker--body-nav-buttons {
  color: var(--mdw-theme-text--body);
}

.mdw-date-picker--body-year-button.mdw-selected {
  background-color: var(--mdw-theme-primary);
  color: var(--mdw-theme-text--on-primary);
}


/* spin */
/* .mdw-date-picker--body-year-button .mdw-select__icon {
  transform: rotate(180deg) translateY(-5px);
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.mdw-date-picker--body-year-view-button .mdw-select__icon {
  right: 8px;
  top: 7px;
  width: 0;
  height: 0;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid var(--mdw-theme-text--body);
}



/* month view */

.mdw-date-picker--view-month {

}

.mdw-date-picker--view-month-day-header {
  color: var(--mdw-theme-text--body);
  font-size: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 20px;
  flex: 1;
  display: flex;
  justify-content: space-around;
}

.mdw-date-picker--view-month-container {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mdw-date-picker--view-month-week-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mdw-date-picker--day {
  font-size: 13px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: var(--mdw-theme-text--heading);
}

.mdw-date-picker--day.mdw-selected {
  background-color: var(--mdw-theme-primary);
  color: var(--mdw-theme-text--on-primary);
}

.mdw-date-picker--day.mdw-today {
  border: 1px solid var(--mdw-theme-foreground);
}
