mdw-menu.mdw-panel {
  min-width: 112px;
  max-width: 280px;
  max-height: 320px;
  padding: 8px 0;
  overflow-y: auto;
  border-radius: var(--mdw-shape-extra-small);
  background-color: var(--mdw-surface);
  box-shadow: var(--mdw-elevation-1);
  box-sizing: border-box;
  /* transform-origin: top; */
}

/* button styles are in src/components/button/component.css */


mdw-search mdw-chip-group > mdw-chip > mdw-menu.mdw-panel {
  z-index: 12;
}
