:host {
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  padding-top: 0;
  margin-bottom: 0;

  background-color: var(--mdw-surface-variant);
}

:host .indicator {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: var(--mdw-primary);
}


:host(.mdw-indeterminate) .indicator {
  width: 100%;
  transition: all 0.2s linear;
  animation: mdw-progress-linear-indeterminate .8s infinite cubic-bezier(0.390, 0.575, 0.565, 1.000);
}


@keyframes mdw-progress-linear-indeterminate {
  0% {
    opacity: 1;
    transform: translateX(35%) scale(.3, 1);
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) scale(0, 1);
  }
}
