:host {
  display: flex;
  width: 344px;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  border-radius: var(--mdw-shape-extra-small);
  box-shadow: var(--mdw-elevation-1);
  background-color: var(--mdw-surface-inverse);
}

:host ::slotted(.mdw-text) {
  box-sizing: border-box;
  padding: 12px 16px;
  flex-grow: 1;
  font-size: var(--mdw-font-size-medium-body);
  font-weight: var(--mdw-font-weight-medium-body);
  line-height: 24px;
  letter-spacing: var(--mdw-font-letter-spacing-medium-body);
  color: var(--mdw-on-surface-inverse);
}

:host ::slotted(mdw-button) {
  color: var(--mdw-primary-container);
}

:host ::slotted(mdw-icon) {
  margin-right: 12px;
  cursor: pointer;
  color: var(--mdw-primary-container);
}
