mdw-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: var(--mdw-shape-medium);
  box-shadow: var(--mdw-elevation-1);
  box-sizing: border-box;
  background-color: var(--mdw-surface);
  color: var(--mdw-on-surface);
  outline: none;
  -webkit-tap-highlight-color: transparent;

  margin-bottom: 8px;
}


/* fixes outline overlap */
mdw-card.mdw-outlined {
  --mdw-card-swipe-position: 0;
}

mdw-card.mdw-dragging {
  transition: none;
}

mdw-card.mdw-has-swipe-action {
  --mdw-card-swipe-position: 0px;
  left: var(--mdw-card-swipe-position);
  transition: left 120ms;
}


mdw-card > .mdw-card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  border-radius: var(--mdw-shape-medium) var(--mdw-shape-medium) 0 0;
}

mdw-card > .mdw-card-image > img {
  /* Display issue when using 100% */
  width: 101%;
}

mdw-card > .mdw-card-image.mdw-rounded {
  border-radius: var(--mdw-shape-medium);
}

mdw-card.mdw-fullscreen.mdw-show > .mdw-card-image.mdw-rounded {
  border-radius: 0 0 var(--mdw-shape-medium) var(--mdw-shape-medium);
}

mdw-card .mdw-headline,
mdw-card .mdw-headline-large {
  font-size: var(--mdw-font-size-large-title);
  font-weight: var(--mdw-font-weight-large-title);
  line-height: var(--mdw-font-line-height-large-title);
  letter-spacing: var(--mdw-font-letter-spacing-large-title);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-headline-medium {
  font-size: var(--mdw-font-size-medium-title);
  font-weight: var(--mdw-font-weight-medium-title);
  line-height: var(--mdw-font-line-height-medium-title);
  letter-spacing: var(--mdw-font-letter-spacing-medium-title);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-headline-small {
  font-size: var(--mdw-font-size-small-title);
  font-weight: var(--mdw-font-weight-small-title);
  line-height: var(--mdw-font-line-height-small-title);
  letter-spacing: var(--mdw-font-letter-spacing-small-title);
  color: var(--mdw-on-surface);
}

mdw-card .mdw-subhead-large {
  font-size: var(--mdw-font-size-large-body);
  font-weight: var(--mdw-font-weight-large-body);
  line-height: var(--mdw-font-line-height-large-body);
  letter-spacing: var(--mdw-font-letter-spacing-large-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-subhead-medium,
mdw-card .mdw-subhead {
  font-size: var(--mdw-font-size-medium-body);
  font-weight: var(--mdw-font-weight-medium-body);
  line-height: var(--mdw-font-line-height-medium-body);
  letter-spacing: var(--mdw-font-letter-spacing-medium-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-subhead-small {
  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-supporting-text {
  margin-top: 12px;
  font-size: var(--mdw-font-size-small-body);
  font-weight: var(--mdw-font-weight-small-body);
  line-height: var(--mdw-font-line-height-small-body);
  letter-spacing: var(--mdw-font-letter-spacing-small-body);
  color: var(--mdw-on-surface--76);
}

mdw-card .mdw-card-actions {
  display: flex;
  margin-top: 24px;
}

mdw-card .mdw-card-actions mdw-button + mdw-button {
  margin-left: 6px;
}

mdw-card > .mdw-card-image.mdw-size-small {
  height: 60px;
  transition: height 240ms;
}

mdw-card > .mdw-card-image.mdw-size-medium {
  height: 120px;
  transition: height 240ms;
}

mdw-card > .mdw-card-image.mdw-size-large {
  height: 180px;
  transition: height 240ms;
}


/* --- types --- */

mdw-card.mdw-filled {
  color: var(--mdw-on-surface-variant);
  background-color: var(--mdw-surface-variant);
  box-shadow: none;
}

mdw-card.mdw-filled.mdw-states:focus,
mdw-card.mdw-filled.mdw-states:active,
mdw-card:not(.mdw-no-hover).mdw-filled.mdw-states:hover {
  box-shadow: var(--mdw-elevation-1);
}

mdw-card.mdw-outlined {
  background-color: var(--mdw-surface);
  border: 1px solid var(--mdw-outline);
  box-shadow: none;
}


/* --- state layer --- */

mdw-card.mdw-states:focus,
mdw-card.mdw-states:active,
mdw-card.mdw-states:hover {
  box-shadow: var(--mdw-elevation-2);
}

mdw-card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  border-radius: var(--mdw-shape-medium);
}

mdw-card.mdw-states:hover::after {
  opacity: var(--mdw-state-layer-opacity-hover);
  background-color: var(--mdw-on-surface);
}

mdw-card.mdw-states:active::after {
  opacity: var(--mdw-state-layer-opacity-pressed);
  background-color: var(--mdw-on-surface);
}

mdw-card.mdw-states:focus::after {
  opacity: var(--mdw-state-layer-opacity-focus);
  background-color: var(--mdw-on-surface);
}



/* --- expanding --- */

mdw-card > .mdw-card-content .mdw-expand-arrow {
  position: absolute;
  right: 16px;
  transition: transform 120ms;
}

mdw-card.mdw-show > .mdw-card-content .mdw-expand-arrow {
  transform: rotate(180deg);
}

mdw-card > .mdw-card-content {
  position: relative;
  padding: 16px;
}

mdw-card > .mdw-card-content > .mdw-contracted {
  opacity: 1;
  transition: opacity 120ms;
}

mdw-card > .mdw-card-content > .mdw-expanded {
  height: 0;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: inherit;

  transition: height 120ms;
}

mdw-card.mdw-show > .mdw-card-content > .mdw-expanded {
  height: auto;
  opacity: 1;
}


mdw-card.mdw-fullscreen {
  transition:
    top 320ms,
    left 320ms,
    width 320ms,
    height 320ms;
}

mdw-card.mdw-fullscreen.mdw-show {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 11;
  border-radius: 0;
}


mdw-card.mdw-fullscreen.mdw-show > .mdw-card-content > .mdw-expanded {
  opacity: 1;
  height: auto;
  position: absolute;
  top: 0;
  background-color: var(--mdw-surface);
}

mdw-card.mdw-fullscreen > .mdw-card-image {
  transition: height 220ms, border-radius 320ms;
}

mdw-card.mdw-fullscreen.mdw-show > .mdw-card-image {
  height: var(--mdw-img-fullscreen-height, 300px);
}
