pre {
  display: contents;
}

pre > code {
  width: calc(100% - 16px);
  border-radius: var(--mdw-shape-medium) var(--mdw-shape-medium) 0 0;
}

pre + pre code {
  width: calc(100% - 16px);
  border-radius: 0;
}

page-content {
  --mdw-card-spacing: 36px;
}

section {
  display: inline-flex;
  flex-direction: column;
}


mdw-card .example {
  margin-top: 18px;
  margin-left: 18px;
}

.links {
  display: flex;
  flex-direction: column;
}


.dot-icon {
  font-size: 18px;
  margin-left: 3px;
  margin-right: 7px;
  padding-top: 5px;
}

mdw-navigation-rail > nav .dot-icon {
  padding-top: unset;
  margin-left: unset;
  margin-right: unset;
}
