@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v71/kJEPBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzBwG-RpA6RzaxHMPdY40KH8nGzv3fz_VFO1USv9ls.woff2) format('woff2');
}

html {
  color-scheme: light;
}

body {
  --mdw-navigation-rail-width: 90px;
}

body > mdw-navigation > nav.mdw-rail > .mdw-nav-group > .mdw-nav-group-control,
body > mdw-navigation > nav.mdw-rail > a {
  letter-spacing: 0;
}


pre {
  display: contents;
  margin: 0;
}

mdw-card > pre:first-of-type > code {
  margin-top: 8px;
}

pre > code {
  width: calc(100% - 16px);
}

mdw-card > pre:last-of-type > code {
  border-radius: 0 0 var(--mdw-shape-medium) var(--mdw-shape-medium);
}

page-content {
  --mdw-card-spacing: 36px;
}

section {
  display: inline-flex;
  flex-direction: column;
}


mdw-card .example {
  margin-top: 18px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  width: 0;
  white-space: nowrap;
}


.dot-icon {
  font-size: 18px;
  padding: 3px;
  box-sizing: border-box;
}

page-content {
  /* background-color: #ededed; */
}

mdw-card.header-card {
  margin-top: 16px;
  margin-bottom: 48px;
  padding-bottom: 8px;
  box-shadow: none;
}

mdw-card.header-card .mdw-headline {
  font-size: 32px;
}

page-content > section > mdw-card {
  margin-bottom: 36px;
}
