:root {
  --mdw-primary: #6750A4;
  --mdw-primary-container: #EADDFF;
  --mdw-on-primary: #FFFFFF;
  --mdw-on-primary-container: #21005E;
  --mdw-primary-inverse: #D0BCFF;

  --mdw-secondary: #625B71;
  --mdw-secondary-container: #E8DEF8;
  --mdw-on-secondary: #FFFFFF;
  --mdw-on-secondary-container: #1E192B;

  --mdw-tertiary: #7D5260;
  --mdw-tertiary-container: #FFD8E4;
  --mdw-on-tertiary: #FFFFFF;
  --mdw-on-tertiary-container: #370B1E;

  --mdw-error: #B3261E;
  --mdw-error-container: #F9DEDC;
  --mdw-on-error: #FFFFFF;
  --mdw-on-error-container: #370B1E;

  --mdw-surface: #FFFBFE;
  --mdw-surface-variant: #E7E0EC;
  --mdw-on-surface: #1C1B1F;
  --mdw-on-surface-variant: #49454E;
  --mdw-surface-tint: #6750A4;
  --mdw-surface-inverse: #313033;
  --mdw-on-surface-inverse: #F4EFF4;

  --mdw-background: #FFFBFE;
  --mdw-on-background: #1C1B1F;

  --mdw-outline: #79747E;
  --mdw-outline-variant: #C4C7C5;

  --mdw-shadow: #000000;
  --mdw-scrim: #000000;

  --mdw-state-layer-opacity-hover: 0.08;
  --mdw-state-layer-opacity-focus: 0.12;
  --mdw-state-layer-opacity-pressed: 0.12;
  --mdw-state-layer-opacity-dragged: 0.16;

  --mdw-navigation-drawer-width: 360px;
  --mdw--button-shape-radius: 18px;
  --mdw-navigation-link-radius: 28px;


  /* font sizes are represented in pixels but scale with html.style.fontSize. base is 16px */
  --mdw-font-size-icon: 24px;

  --mdw-font-size-large-label: 14px;
  --mdw-font-line-height-large-label: 20px;
  --mdw-font-weight-large-label: 500;
  --mdw-font-tracking-large-label: 0.1px;

  --mdw-font-size-large-title: 22px;
  --mdw-font-line-height-large-title: 28px;
  --mdw-font-weight-large-title: 400;
  --mdw-font-tracking-large-title: 0;

  --mdw-font-size-medium-title: 16px;
  --mdw-font-line-height-medium-title: 22px;
  --mdw-font-weight-medium-title: 500;
  --mdw-font-tracking-medium-title: 0.15px;

  --mdw-font-size-small-title: 14px;
  --mdw-font-line-height-small-title: 20px;
  --mdw-font-weight-small-title: 500;
  --mdw-font-tracking-small-title: 0.1px;
}
