:host {
  background-color: var(--mdw-theme-primary);
  color: var(--mdw-theme-text--primary);
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  z-index: 4;
}

:host(.mdw-white) {
  background-color: white;
  color: var(--mdw-theme-text--primary--dark);
  border-bottom: 1px solid var(--mdw-theme-divider--dark);
}

:host([fixed].scrolled) {
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

header {
  display: flex;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
}

@media (max-width: 599px) {
  header {
    height: 56px;
  }
}
